<!DOCTYPE html>
<html>

<head>
  <style>
    /* @media print {
      table.item-table {
        border: 1px solid #000 !important;
        background-color: #000 !important;
      }
    } */
  </style>
</head>

<body>

  <table style=" font-family: sans-serif; 
    width: 100%; background-color: #fff;   margin: auto;">


    <tr style="width: 100%;">
      <td>
        <table>
          <td style="padding-left: 5px;color: #000;  ;padding-top: 20px;
           padding-left: 20px;padding-bottom: 20px;">
            <!-- <img src="./assets/img/logo.png" *ngIf="!company_image" style="width: 35%;">
            <img [src]="company_image" *ngIf="company_image" style="width: 35%;"> -->
          </td>
          <td style="padding-left: 5px;color: #000;  font-weight: bold;font-size: 40px;color: #1a44c7;
                   padding-top: 20px;
           padding-right: 20px;padding-bottom: 20px;">
            INVOICE</td>
        </table>
      </td>
    </tr>
    <tr style="width: 100%;">
      <td>
        <table style="width: 100%;">
          <td style="width:50%;padding-left: 5px;color: #000;  color: #000;  padding-left: 20px;padding-bottom: 20px;    font-size: 14px;
           line-height: 20px;">
            <span
              style="font-size: 19px;color: #000;font-weight: bold;letter-spacing: 1px;/* padding-bottom: 20px; */margin-bottom: 14px;line-height: 35px;">
              {{sessionService.getItem('company_name')}}</span> <br />
            {{sessionService.getItem('company_address') | titlecase}},<br />
            Ph : {{sessionService.getItem('phone')}} <span *ngIf="sessionService.getItem('phone2')">,
              {{sessionService.getItem('phone2')}}</span><br />
            <b>GSTIN : {{sessionService.getItem('gstin')}}</b>
            <!-- <br /> Soodamani nagar, <br />karaikudi - 630 003 -->
          <td *ngIf="invoiceData?.customer_details_id" style="width:50%;text-align:right;padding-left: 5px;color: #000;  color: #000;color: #000;  color: #000;  padding-left: 20px;padding-bottom: 20px;    font-size: 14px;
           line-height: 20px;padding-right: 20px;;">
            <span
              style="font-size: 19px;color: #000;font-weight: bold;letter-spacing: 1px;/* padding-bottom: 20px; */margin-bottom: 14px;line-height: 35px;">
              INVOICE TO</span> <br />
            <!-- Dwyane Clark <br /> 24, T.nagar,<br /> karaikudi - 630 003 -->
            <!-- {{invoiceData?.customer_details_id?.customer_code}},<br /> -->
            {{invoiceData?.customer_details_id?.customer_name | titlecase }},<br />
            {{invoiceData?.customer_details_id?.customer_address | titlecase }},<br />
            {{invoiceData?.customer_details_id?.phone}}<br />
            <b *ngIf="invoiceData?.customer_details_id?.customer_gstin">GSTIN :
              {{invoiceData?.customer_details_id?.customer_gstin}}</b><br />
            <b *ngIf="invoiceData?.customer_details_id?.route_name">Route Name :
              {{invoiceData?.customer_details_id?.route_name}}</b>

          </td>
        </table>
      </td>
    </tr>
    <tr style="width: 100%;">
      <td>
    <tr style="width: 50%;float: left;">
      <td style="font-size: 15px;padding-left: 20px;padding-bottom: 20px;">Invoice No : <span style="color: #000;">
          #{{invoiceData?.invoice_code}}</span>
      </td>

    </tr>
    <tr style="width: 50%;float: left;">
      <td style="font-size: 15px;padding-left: 20px;padding-bottom: 20px;">Invoice Date : <span style="color: #000;">
          {{invoiceData?.invoice_date | date:'mediumDate'}}</span>
      </td>

    </tr>
    </td>
    </tr>


    <tr>
      <td>
        <table class="item-table table table-bordered"
          style=" width: 100%;    background: #eeeeee5c;    padding: 20px;">
          <thead>
            <tr>
              <td colspan="8" style="border-bottom: 1px solid #000;"></td>
            </tr>
            <tr>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                S.No</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                Item Description</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                Price</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                MRP</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                Qty.</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                Discount</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;" *ngIf="invoiceData?.tax_enable">GST%
              </th>
              <th style="text-align: right;font-size: 15px;padding: 5px;">
                Amount</th>
            </tr>
            <tr>
              <td colspan="8" style="border-bottom: 1px solid #000;"></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invoiceData?.invoice_list; let i=index">
              <td style="padding-bottom: 15px;font-size: 14px;color: #000;padding: 5px;">
                {{i + 1}}</td>
              <td style="padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;">
                {{item.stock_name }}</td>
              <td style="text-align: right;padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;">
                {{item.price | currency : 'INR':true}}</td>
              <td style="text-align: right;padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;">
                {{item.mrp | currency : 'INR':true}}</td>
              <td style="padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;">
                {{item.qty}}</td>
              <td style="text-align: right;padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;">
                {{item?.discount_amt ? (item?.discount_amt | currency : 'INR':true) : 0}}</td>
              <td style="padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;"
                *ngIf="invoiceData?.tax_enable">
                {{item.gst_per}}%</td>
              <td style="text-align: right;padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;"
               >
                {{item.total | currency : 'INR':true}}</td>
              <!-- <td style="text-align: right;padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;"
               >
                {{item.total_with_gst | currency : 'INR':true}}</td> -->
            </tr>

            <tr>
              <td colspan="8" style="border-bottom: 1px solid #000;"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td [attr.colspan]="invoiceData?.tax_enable ? 7 : 6"
                style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">Sub Total</td>
              <td style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">{{invoiceData?.sub_total |
                currency : 'INR':true}}</td>
            </tr>
            <tr>
              <td [attr.colspan]="invoiceData?.tax_enable ? 7 : 6"
                style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">Total Discount</td>
              <td style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">{{invoiceData?.discount |
                currency : 'INR':true}}</td>
            </tr>
            <tr>
              <td [attr.colspan]="invoiceData?.tax_enable ? 7 : 6"
                style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">CGST</td>
              <td style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">{{invoiceData?.cgst |
                currency : 'INR':true}}</td>
            </tr>
            <tr>
              <td [attr.colspan]="invoiceData?.tax_enable ? 7 : 6"
                style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">SGST</td>
              <td style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">{{invoiceData?.sgst |
                currency : 'INR':true}}</td>
            </tr>
            <tr>
              <td [attr.colspan]="invoiceData?.tax_enable ? 7 : 6"
                style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">Round Off</td>
              <td style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">{{invoiceData?.round_off |
                currency : 'INR':true}}</td>
            </tr>
            <tr>
              <th [attr.colspan]="invoiceData?.tax_enable ? 7 : 6"
                style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;">Total</th>
              <th style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;"
                *ngIf="invoiceData?.tax_enable"> {{(((invoiceData?.sub_total + invoiceData?.cgst + invoiceData?.sgst) -
                (invoiceData?.discount) ) + invoiceData?.round_off)| currency : 'INR':true}}</th>
              <th style="font-size: 14px;color:#000;padding-bottom: 5px;text-align: right;"
                *ngIf="!invoiceData?.tax_enable"> {{((invoiceData?.sub_total -
                invoiceData?.discount)+invoiceData?.round_off) | currency : 'INR':true}}</th>
            </tr>
          </tfoot>
        </table>
      </td>
    </tr>

    <tr style="width: 100%;position: absolute;bottom: 100;right: 0;left: 0;">
      <td class="5" *ngIf="invoiceData?.tax_enable" style="width: 100%; float: left;margin-left: 10px;">Tax Summary</td>

      <td *ngIf="invoiceData?.tax_enable" style="width: 100%; float: left;">
        <table class="item-table table table-bordered"
          style=" width: 100%;    background: #eeeeee5c;    padding: 20px;">
          <thead>
            <tr>
              <td colspan="5" style="border-bottom: 1px solid #000;"></td>
            </tr>
            <tr>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                S.No</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                Tax Name</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                CGST Value</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                SGST Value</th>
              <th style="text-align: left;font-size: 15px;padding: 5px;">
                Taxable Value</th>
            </tr>
            <tr>
              <td colspan="5" style="border-bottom: 1px solid #000;"></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invoiceData?.tax_summary; let i=index">
              <td style="padding-bottom: 15px;font-size: 14px;color: #000;padding: 5px;">
                {{i + 1}}</td>
              <td style="padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;">
                {{item.tax_name }}</td>
              <td style="text-align: right;padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;">
                {{item.cgst_amt | currency : 'INR':true}}</td>
              <td style="text-align: right;padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;">
                {{item.sgst_amt | currency : 'INR':true}}</td>
              <td style="text-align: right;padding-bottom: 20px;font-size: 14px;color: #000;padding: 5px;">
                {{item.total | currency : 'INR':true}}</td>

            </tr>

            <tr>
              <td colspan="5" style="border-bottom: 1px solid #000;"></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th style="font-size: 14px;color:#000;padding-bottom: 5px;">Total
              </th>
              <th style="text-align: right;font-size: 14px;color:#000;padding-bottom: 5px;">{{invoiceData?.sgst |
                currency : 'INR':true}}</th>
              <th style="text-align: right;font-size: 14px;color:#000;padding-bottom: 5px;">{{invoiceData?.cgst |
                currency : 'INR':true}}</th>
              <th style="text-align: right;font-size: 14px;color:#000;padding-bottom: 5px;">{{invoiceData?.sub_total |
                currency : 'INR':true}}</th>
            </tr>

          </tfoot>
        </table>
      </td>
    </tr>

    <tr style="width: 100%;position: absolute;bottom: 0;right: 0;left: 0;">
      <td style="width: 100%; float: left;">
        <table style="width: 100%;">
          <td style="width:38%;padding-left: 5px;padding-right: 25%;color: #000;color: #000;  padding-left: 20px;padding-bottom: 20px;    font-size: 14px;
           line-height: 20px;">
            <span style="font-size: 16px;color: #000;line-height: 35px;">
              Receiver's Signature</span> <br />
          <td style="width:20%;text-align:center;  font-size: 14px;
           line-height: 20px;padding-right: 20px;;">
            <span>For {{sessionService.getItem('company_name')}}</span> <br />

          </td>
        </table>
      </td>
    </tr>
    <!-- <tr style="width: 100%;">
      <td>
        <table style="width: 100%;">
          <td style="width:38%;padding-left: 5px;padding-right: 25%;color: #000;color: #000;  padding-left: 20px;padding-bottom: 20px;    font-size: 14px;
           line-height: 20px;">
            <span style="font-size: 16px;color: #000;line-height: 35px;">
              Terms & Conditions</span> <br />
            <span style="color: #000;
                       font-size: 13px;">
              All products returned for refund/replacement or extended on credit must be returned in “saleable” condition with original packing.
            </span>
          <td style="width:20%;text-align:center;  font-size: 14px;
           line-height: 20px;padding-right: 20px;;">
            <span>
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Nguy%E1%BB%85n_V%C4%83n_B%C3%ACnh_%2C_Nguyen_Van_Binh_signature.png"
                style="width:20%;">
              </span> <br />
            <span style="font-weight: bold;">{{sessionService.getItem('owner_name') | titlecase}}</span> <br />
            <span style="color: #000;
                      font-size: 13px;">Manager</span> <br />
          </td>
        </table>
      </td>
    </tr> -->

  </table>

  <!-- <button onclick="window.print()">Print this page</button> -->

</body>

</html>