          <div class="container">
              <div class="invoice">
                <div class="row">
                  <div class="col-7">
                    
                    <img src="./assets/img/logo.png" class="logo" *ngIf="!company_image">
                    <img [src]="company_image" *ngIf="company_image" class="logo" >
                  </div>
                  <div class="col-5">
                    <h1 class="document-type display-4">INVOICE</h1>
                    <p class="text-right"><strong>#{{invoiceData?.data[0].invoice_details_id.invoice_code}}</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5" style="float: left;text-align: left;">
                    <p>
                      <Strong>{{sessionService.getItem('company_name') | titlecase}}</Strong><br>
                      {{sessionService.getItem('company_address')}}<br>
                      Ph : {{sessionService.getItem('phone')}}<br>
                    </p>
                  </div> <div class="col-5" style="float: right;text-align: right;">
                    <p>
                      
                      Ref. Client <em>{{invoiceData?.data[0].customer_details_id.customer_code}}</em><br>
                      {{invoiceData?.data[0].customer_details_id.customer_name}}<br>
                      {{invoiceData?.data[0].customer_details_id.customer_address}}<br>
                      {{invoiceData?.data[0].customer_details_id.phone}}
                    </p>
                  </div>
                </div>
                <br>
                <br>
              <!-- <pre>{{ invoiceData | json }}</pre> -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Qty</th>
                      <th>Price</th>
                      <th></th>
                      <th style="text-align: right;">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                      <tr *ngFor="let item of invoiceData?.data; let i=index">
                          <td>{{item.stock_details_id.stock_name}}</td>
                          <td>{{item.stock_qty}}</td>
                          <td>{{item.stock_price | currency : 'INR':true}}</td>
                          <td></td>
                          <td style="text-align: right;">{{item.stock_price * item.stock_qty | currency : 'INR':true}}</td>
                        </tr>
                   
                    
                  </tbody>
                </table>
                <div class="row" style="margin: 0;">
                  <div class="col-8">
                  </div>
                  <div class="col-4" style="text-align: right;float: right">
                    <table class="table table-sm text-right">
                      <tr>
                        <td><strong>Sub Total</strong></td>
                        <td class="text-right">{{invoiceData?.data[0].sub_total | currency : 'INR':true}}</td>
                      </tr>
                      <tr>
                        <td>Discount</td>
                        <td class="text-right">{{invoiceData?.data[0].discount | currency : 'INR':true}}</td>
                      </tr>
                      <tr>
                        <td><strong>Total</strong></td>
                        <td class="text-right">{{invoiceData?.data[0].grand_total | currency : 'INR':true}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
                
                <p class="conditions" style="text-align: center;">
                  <br>
                  And with our thanks.
                </p>
              </div>
            </div>
   