          <div class="container">
              <div class="invoice">
                <div class="row">
                  <div class="col-7">
                    
                    <img src="./assets/img/logo.png" class="logo" *ngIf="!company_image">
                    <img [src]="company_image" *ngIf="company_image" class="logo" >
                  </div>
                  <div class="col-5">
                    <h1 class="document-type display-4">INVOICE</h1>
                    <p class="text-right"><strong>#{{invoiceData?.invoice_details_id.invoice_code}}</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-5" style="float: left;text-align: left;">
                    <p>
                      <Strong>{{sessionService.getItem('company_name') | titlecase}}</Strong><br>
                      {{sessionService.getItem('company_address')}}<br>
                      Ph : {{sessionService.getItem('phone')}}<br>
                    </p>
                  </div> <div class="col-5" style="float: right;text-align: right;">
                    <p>
                      
                      Ref. Client <em>{{invoiceData?.customer_details_id?.customer_code}}</em><br>
                      {{invoiceData?.customer_details_id?.customer_name}}<br>
                      {{invoiceData?.customer_details_id?.customer_address}}<br>
                      {{invoiceData?.customer_details_id?.phone}}
                    </p>
                  </div>
                </div>
                <br>
                <br>
              <!-- <pre>{{ invoiceData | json }}</pre> -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Qty</th>
                      <th>Price</th>
                      <th *ngIf="invoiceData?.invoice_details_id.tax_enable">GST(%)</th>
                      <th style="text-align: right;">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                      <tr class="invoice" *ngFor="let item of invoiceData?.invoice_details_id.invoice_list; let i=index">
                          <td>{{item.stock_details_id}}</td>
                          <td>{{item.qty}}</td>
                          <td>{{item.price | currency : 'INR':true}}</td>
                          <td *ngIf="invoiceData?.invoice_details_id.tax_enable">{{item.gst_per}}%</td>
                          <td *ngIf="!invoiceData?.invoice_details_id.tax_enable" style="text-align: right;">{{item.total | currency : 'INR':true}}</td>
                          <td *ngIf="invoiceData?.invoice_details_id.tax_enable" style="text-align: right;">{{item.total_with_gst | currency : 'INR':true}}</td>
                        </tr>
                   
                    
                  </tbody>
                </table>
                <div class="row" style="margin: 0;">
                  <div class="col-8">
                  </div>
                  <div class="col-4" style="text-align: right;float: right">
                    <table class="table table-sm text-right">
                      <tr>
                        <td><strong>Sub Total</strong></td>
                        <td class="text-right">{{invoiceData?.sub_total | currency : 'INR':true}}</td>
                      </tr>
                      <tr>
                        <td>Discount</td>
                        <td class="text-right">{{invoiceData?.discount | currency : 'INR':true}}</td>
                      </tr>
                      
                      <tr *ngIf="invoiceData?.invoice_details_id.tax_enable">
                        <td>CGST Amount</td>
                        <td class="text-right">{{invoiceData?.invoice_details_id.cgst | currency : 'INR':true}}</td>
                      </tr>
                      
                      <tr *ngIf="invoiceData?.invoice_details_id.tax_enable">
                        <td>SGST Amount</td>
                        <td class="text-right">{{invoiceData?.invoice_details_id.sgst | currency : 'INR':true}}</td>
                      </tr>
                      <tr>
                        <td><strong>Total</strong></td>
                        <td class="text-right">{{invoiceData?.invoice_details_id.grand_total | currency : 'INR':true}}</td>
                      </tr>
                    </table>
                  </div>
                </div>
                
                <p class="conditions" style="text-align: center;">
                  <br>
                  And with our thanks.
                </p>
              </div>
            </div>
   