<app-header></app-header>
<ngx-spinner  bdOpacity = 0.1  bdColor = "rgba(255,255,255,0.9)"  size = "default"  color = "#060606"  type = "ball-clip-rotate"  [fullScreen] = "false"  >
    <p style="color: #000" > Reseting Password... </p>
</ngx-spinner>
<div  class="ui-g-12" style="padding: 5% 0;background: url(./assets/img/home-bg4.jpg) no-repeat center center;
background-size: cover;">
  
      <div class="ui-g-12 ui-md-4 ui-md-offset-4">
    
    <p-messages class="ui-g-12" styleClass="loagin-wrapper" ></p-messages>
    <!-- <div class="ui-g-12"  style="text-align: center;position: relative;height: 100px;">
    <a routerLink="">
      <img src="Card" src="./assets/img/comp_logo.png" style="    max-height: 100%;  max-width: 100%;   left: 0;   right: 0;    top: 0;     bottom: 0;   margin: auto;">
    </a>
</div> -->
    
        <p-card  class="login-form ui-g-12 ui-md-12" >
          <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" style="text-align: center">
         
          <div class="ui-g ui-fluid">
              <div class="ui-g-12 ui-md-12">
                  <h2>Reset Your Password</h2>
                  <span>Please enter your new password to reset your old password</span>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="user_pwd">New Password</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" id="user_pwd" pPassword formControlName="user_pwd" />
                </div>
            </div>
            <p  class="error-msg" *ngIf="!resetForm.controls['user_pwd'].valid && (resetForm.controls['user_pwd'].dirty || resetForm.controls['user_pwd'].touched)">
                <em *ngIf="resetForm.controls['user_pwd'].errors['required']"> New password is required    </em>
             </p>
             <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">Confirm Password</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" pPassword formControlName="cnfirm_user_pwd" />
                </div>
            </div>
            
            <p  class="error-msg" *ngIf="!resetForm.controls['cnfirm_user_pwd'].valid && (resetForm.controls['cnfirm_user_pwd'].dirty || resetForm.controls['cnfirm_user_pwd'].touched)">
                <em *ngIf="resetForm.controls['cnfirm_user_pwd'].errors['required']"> Confirm password is required    </em>
                <em *ngIf="resetForm.controls['cnfirm_user_pwd'].errors['mustMatch']">  The password confirmation does not match.   </em>
             </p>
              
            <div class="ui-g-12 ui-md-12">
              <button pButton type="submit" label="Reset Password"  class="ui-button-raised " style="margin-right: .25em;    width: 100%;" ></button>

              </div>
            </div>
                <div style="text-align: center">
              <a  rel="noopener noreferrer"  routerLink="/login"  >Login?</a>
                </div>
        </form>
      </p-card>
    </div>
</div>
  

  <div  class="ui-g-12 ">
        <app-footer></app-footer>
</div>