<div class="ng-header">
    <div class="ng-header-left left">
        <div class="toggle-menu-button left">
            <a class="icon" (click)="toggleMenu()"><i class="fa fa-bars"></i></a>
        </div>
        <div class="logo right">
            <a  routerLink="/inventory-mngt/dashboard">
            <img  *ngIf="sessionService.getItem('company_image')" src="{{auth.apiURL()}}{{sessionService.getItem('company_image')}}" class="logo-large" >
            <img *ngIf="!sessionService.getItem('company_image')" src="./assets/img/logo.png" class="logo-large">                
        </a>
        </div>
    </div>
    <div class="ng-header-right right">
        <!-- <div class="ng-header-right-item right">
            <a class="icon" (click)="confirmLogout()"><i class="fa fa-sign-out"></i></a>
        </div> -->
        <div class="ng-header-right-item right" (click)="userdetails.toggle($event)">
            <a  class="icon" style="display: flex">
                   <img *ngIf="sessionService.getItem('user_image')" src="{{auth.apiURL()}}{{sessionService.getItem('user_image')}}" style="    height: 30px;  width: 30px;border-radius: 100%;" />
                     <img *ngIf="!sessionService.getItem('user_image')" src="./assets/img/userface.jpg" style="    height: 30px;  width: 30px;border-radius: 100%;" />      
                    <em class="hidden-xs" style="    margin-top: -10px; padding-left: 5px; "> {{sessionService.getItem('user_name')}}  <i class="fa fa-angle-down" style="font-size: 15px; margin-left: 5px;"></i></em>
            </a>
        </div>
        <div class="ng-header-right-item right" (click)="themeChooser.toggle($event)">
            <a class="icon"><i class="fa fa-cog"></i></a>
        </div>
        <div class="ng-header-right-item right" (click)="showNotificationSidebar()">
            <a class="icon"><i class="fa fa-bell"></i><span class="badge">5</span></a>
        </div>
        <div class="ng-header-right-item right" >
                <a class="icon" routerLink="/inventory-mngt/schedule-calender"><i class="fa fa-calendar"></i></a>
            </div>
       
    </div>
</div>

<!-- user detials overlay panel -->
<p-overlayPanel #userdetails>
    <div class="drp-menu">
    <div class="head-drpmenu">
        <button routerLink="/inventory-mngt/profile"  (click)="userdetails.hide($event)"><i class="fa fa-user-circle-o" aria-hidden="true" style="color:#7e57c2;margin-right:7px;outline: none;"></i>Profile</button>
       <button routerLink="/inventory-mngt/change-password" (click)="userdetails.hide($event)"><i class="fa fa-cog" aria-hidden="true" style="color:#ff9800;margin-right:7px;outline: none;"></i>Change Password</button>        
       <button *ngIf="sessionService.getItem('role') != 3" routerLink="/inventory-mngt/company-info" (click)="userdetails.hide($event)" ><i class="fa fa-users" aria-hidden="true" style="color:#009688;margin-right:7px;outline: none;"></i>Company Info.</button>
       <button *ngIf="sessionService.getItem('role') == 1" routerLink="/inventory-mngt/product-buy" (click)="userdetails.hide($event)"><i class="fa fa-toggle-on" aria-hidden="true" style="color:#29b6f6;margin-right:7px;outline: none;"></i>Account Type</button>
        <button style="outline: none;"><a class="user-thumb" style="background: transparent;width: auto;cursor:pointer;color:#333"
            (click)="confirmLogout()"><i class="fa fa-sign-out" style="color:#e91e63;margin-right:3px;"></i>&nbsp;<span>Log Out</span></a></button>
        </div>
    </div>
</p-overlayPanel>

<!-- notifications sidebar -->

<p-sidebar [(visible)]="displayNotifications" position="right">
    <div  class="notification-message">
        <div class="notify-wrapper" >
            <!-- <h4>Notification</h4> -->
         
    <ul *ngIf="notiListData">

        <li  *ngFor="let item of notiListData; let i= index">
            <h5>   <i class="fa fa-calendar"></i>  {{ item.created_date | date : "MMM dd y" }}</h5>
            <div class="notify-list">
                <p  style="cursor: pointer;">
                    <span>{{ item.title}}</span>  
                    <span style="color: coral;float:left;width:100%;font-size:11px"  > {{item.msg}}</span>
                </p>
            </div>
        </li>
    </ul>
  
<ul style="text-align: center; padding-top: 35px;" *ngIf="notiListData?.length == 0">
    <li><img src="/assets/img/notofication.gif" style="max-width:50%;"></li>
    <li style="font-size: 18px;text-transform: capitalize;padding-top: 20px;color: #5a5a5a;font-weight: 500;">
    No new notifications!
    </li>
</ul>  

         
        </div>
    </div>
</p-sidebar>

<!-- theme chooser overlay panel -->
<p-overlayPanel #themeChooser>
    Select Theme:
    <div class="ui-g">
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-light')"
                style="background-color: #cccccc"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-dark')"
                style="background-color: #3b3b48"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-Turquoise')"
                style="background-color:#04838f;"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-green')"
                style="background-color: #1e8455;"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-blue')"
                style="background-color: #2d5394;"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-rose')"
                style="background-color: #79425a;"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-teal')"
                style="background-color: #427976;"></button>
        </div>
    </div>
</p-overlayPanel>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" #cd>
        <p-footer>
                <button pButton type="button" label="Yes" class="ui-button-success" (click)="cd.accept()"></button>        
                <button pButton type="button" label="No" class="ui-button-danger" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>