<div class="ng-header">
    <div class="ng-header-left left">
        <div class="toggle-menu-button left">
            <a class="icon" (click)="toggleMenu()"><i class="fa fa-bars"></i></a>
        </div>
        <div class="logo right">
            <img  *ngIf="sessionService.getItem('company_image')" src="{{auth.apiURL()}}{{sessionService.getItem('company_image')}}" class="logo-large">
            <img *ngIf="!sessionService.getItem('company_image')" src="./assets/img/logo.png" class="logo-large">
        </div>
    </div>
    <div class="ng-header-right right">
        <div class="ng-header-right-item right">
            <a class="icon" (click)="confirmLogout()"><i class="fa fa-sign-out"></i></a>
        </div>
        <div class="ng-header-right-item right" (click)="themeChooser.toggle($event)">
            <a class="icon"><i class="fa fa-cog"></i></a>
        </div>
        <div class="ng-header-right-item right" (click)="showNotificationSidebar()">
            <a class="icon"><i class="fa fa-bell"></i><span class="badge">5</span></a>
        </div>
        <div class="ng-header-right-item right" >
                <a class="icon" routerLink="/inventory-mngt/schedule-calender"><i class="fa fa-calendar"></i></a>
            </div>
        <div class="ng-header-right-item right" (click)="userdetails.toggle($event)">
            <!-- <a class="icon"><span [innerHtml]="user.emailId" class="user-name"></span><i class="fa fa-user"></i></a> -->
            <!-- <a class="icon"><span  class="user-name"></span><i class="fa fa-user"></i></a> -->
            <a  class="icon" style="display: flex">
                   <img *ngIf="sessionService.getItem('user_image')" src="{{auth.apiURL()}}{{sessionService.getItem('user_image')}}" style="    height: 30px;  width: 30px;border-radius: 100%;" />
                     <img *ngIf="!sessionService.getItem('user_image')" src="./assets/img/userface.jpg" style="    height: 30px;  width: 30px;border-radius: 100%;" />      
                    <em class="hidden-xs" style="    margin-top: -10px; padding-left: 5px; "> {{sessionService.getItem('user_name')}}  <i class="fa fa-angle-down" style="font-size: 15px; margin-left: 5px;"></i></em>
               
                    
             </a>
        </div>
    </div>
</div>

<!-- user detials overlay panel -->
<p-overlayPanel #userdetails>
    <!-- <div><b>User Name: </b><i [innerHtml]="user.userName"></i></div>
    <div><b>Email Id: </b><i [innerHtml]="user.emailId"></i></div>
    <div><b>Birthdate: </b><i [innerHtml]="user.birthDate | date:'dd/MM/yyyy'"></i></div> -->
  <ul>
      <li>
          <a  routerLink="/inventory-mngt/profile" (click)="userdetails.hide($event)">Profile</a>
      </li>
      
      <li *ngIf="sessionService.getItem('role') != 3">
            <a  routerLink="/inventory-mngt/company-info" (click)="userdetails.hide($event)">Company Info.</a>
        </li>
        
      <li>
            <a  routerLink="/inventory-mngt/change-password" (click)="userdetails.hide($event)">Change Password</a>
        </li>
        
      <li *ngIf="sessionService.getItem('role') == 1">
            <a  routerLink="/inventory-mngt/product-buy" (click)="userdetails.hide($event)">Account Type</a>
        </li>
  </ul>
</p-overlayPanel>

<!-- notifications sidebar -->
<p-sidebar [(visible)]="displayNotifications" position="right">
    <div *ngFor="let notification of notifications; let i=index" class="notification-message">
        <!-- <div><b>Message: </b><i [innerHtml]="notification.message"></i></div>
        <div><i>Created On: </i><i [innerHtml]="notification.createdOn | date:'dd/MM/yyyy'"></i></div> -->
       sdfdsfdsf
    </div>
</p-sidebar>

<!-- theme chooser overlay panel -->
<p-overlayPanel #themeChooser>
    Select Theme:
    <div class="ui-g">
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-light')"
                style="background-color: #cccccc"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-dark')"
                style="background-color: #3b3b48"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-Turquoise')"
                style="background-color:#04838f;"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-green')"
                style="background-color: #1e8455;"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-blue')"
                style="background-color: #2d5394;"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-rose')"
                style="background-color: #79425a;"></button>
        </div>
        <div class="ui-g-3">
            <button pButton type="button" (click)="selectTheme('theme-teal')"
                style="background-color: #427976;"></button>
        </div>
    </div>
</p-overlayPanel>


<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" #cd>
        <p-footer>
                <button pButton type="button" label="Yes" class="ui-button-success" (click)="cd.accept()"></button>        
                <button pButton type="button" label="No" class="ui-button-danger" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>