<!-- <app-header></app-header> -->

<div  class="ui-g-12" style="padding: 5% 0;background: url(./assets/img/home-bg2.jpg) no-repeat center center;
background-size: cover;height: 100%;">
  
    <div  class="ui-g-12 ui-md-6 ui-md-offset-3">
    <p-messages class="ui-g-12" styleClass="loagin-wrapper" ></p-messages>
    <!-- <div class="ui-g-12"  style="text-align: center;position: relative;height: 100px;">
        <a routerLink="">
          <img src="Card" src="./assets/img/comp_logo.png" style="    max-height: 100%;  max-width: 100%;   left: 0;   right: 0;    top: 0;     bottom: 0;   margin: auto;">
        </a>
    </div> -->

<div  class="register-form ui-g-12">
         
   

    

<p-card *ngIf="!successRegister" >
    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>


  <form [formGroup]="planForm" *ngIf="activeIndex == 0"> 
    <div class="ui-g ui-fluid" >
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                    
                    <p-card header="Free* / 30 days" subheader="*30 days only trail"  styleClass="ui-card-shadow">
                        <p-header>
                                <i class="pi pi-check" style="    color: #fff;   background: #08bd65;     border-radius: 100%;float: right;margin: 10px;"  *ngIf="planForm.value.plan_type == '0'"></i>
                        </p-header>
                               <div>
                                   <ul>
                                        <li> limit of 50 product entry </li>
                                        <li> No dedicated support </li>
                                        <li> Limited access to advanced features </li>
                                    </ul>
                               </div>
                            <p-footer>
                                <button pButton type="button" label="Free*"  class="ui-button-secondary" (click)="selectPlanType(0)"></button>
                            </p-footer>
                        </p-card>
                    <!-- <p-radioButton name="plan_type" value="0" label="Free Plan" formControlName="plan_type" ></p-radioButton> -->
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                
                    <p-card header="Paid" subheader="One time payment"  styleClass="ui-card-shadow">
                            <p-header>
                                    <i class="pi pi-check" style="    color: #fff;   background: #08bd65;     border-radius: 100%;float: right;   margin: 10px;"  *ngIf="planForm.value.plan_type == '1'"></i>
                                </p-header>
                            <div>
                                    <ul>
                                        <li> Unlimited product entry</li>
                                        <li> Long time support </li>
                                        <li> One time payment </li>
                                     </ul>
                                </div>
                                   <p-footer>
                                <button pButton type="button" label="Rs.14,999"  style="margin-right: .25em" (click)="selectPlanType(1)"></button>
                            </p-footer>
                        </p-card>
                <!-- <p-radioButton name="plan_type" value="1" label="Premium Plan" formControlName="plan_type" ></p-radioButton> -->
            </div>
        </div>
    </div>
    <!-- <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton  icon="pi pi-angle-right" conPos="right" class="ui-button-success" (click)="onSaveData(1)" label="Next" style="float: right;"></button>
        </div>
    </p-footer> -->
  </form>
  <form [formGroup]="companyForm" *ngIf="activeIndex == 1"> 
    <div class="ui-g ui-fluid" >
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Company Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="company_name" autofocus />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Owner Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="owner_name"  />
            </div>
        </div>
         <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Company Address</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="company_address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

                <!-- <input pInputText  formControlName="company_address" /> -->

            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Phone</label>
            </div>
            <div class="ui-g-8">
                    <!-- <input type="text"
                    ng2TelInput
                    [ng2TelInputOptions]="{initialCountry: 'in'}"
                    (hasError)="hasError($event)"
                    (ng2TelOutput)="getNumber($event)"
                    (intlTelInputObject)="telInputObject($event)"
                    (countryChange)="onCountryChange($event)" /> -->
    <input pInputText type="text" pKeyFilter="int" ng2TelInput (countryChange)="onCountryChange($event)" [ng2TelInputOptions]="{initialCountry: 'in'}"  formControlName="phone"  />

    <!-- <p-inputMask  formControlName="phone" mask="99999-99999" placeholder="99999-99999"  slotChar=" "></p-inputMask> -->

            </div>
        </div>
        <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">GSTIN</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText  formControlName="gstin"  />
                </div>
            </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-6">
                    <button type="button" pButton icon="pi pi-angle-left" (click)="back(0)" label="Back" style="float: left;"></button>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <button type="button" pButton  icon="pi pi-angle-right" conPos="right" class="ui-button-success" (click)="onSaveData(2)" label="Next" style="float: right;"></button>
                </div>
            </div>
        </div>
    </p-footer>
  </form>
    <form  [formGroup]="userForm"  *ngIf="activeIndex == 2"> 
        <div class="ui-g ui-fluid" >
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Full Name</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText  formControlName="user_name"  autofocus />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">User Email</label>
                    </div>
                    <div class="ui-g-8">
                            <div class="ui-inputgroup">
                                    <input pInputText  formControlName="user_email" pKeyFilter="email" placeholder="admin@example.com"  emailExist (focusout)="onCheckEmailExist()" />
                                    <button pButton type="button" icon="pi pi-refresh" class="ui-button-warn" *ngIf="emailCheckStatus == 0"></button>    
                                    <button pButton type="button" icon="pi pi-check" class="ui-button-success" *ngIf="emailCheckStatus == 1"></button>    
                                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger" *ngIf="emailCheckStatus == 2"></button>   
              
                                </div>
                    </div>
                    
                </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">User Password</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" formControlName="user_pwd" pPassword nopasswordmatch (focusout)="passwordMatch()" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">Confirm Password</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" formControlName="cnfirm_user_pwd" pPassword nopasswordmatch (focusout)="passwordMatch()"  />
                </div>
            </div>
            <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="year">Phone</label>
                    </div>
                    <div class="ui-g-8">
                                  
    <input pInputText pKeyFilter="int" ng2TelInput   [ng2TelInputOptions]="{initialCountry: 'in'}" formControlName="phone"  />
                        <!-- <p-inputMask formControlName="phone" mask="99-99999-99999" placeholder="99-99999-99999"  slotChar=" "></p-inputMask> -->
        
                    </div>
                </div>
                
         
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <button type="button" pButton icon="pi pi-angle-left" (click)="back(1)" label="Back" style="float: left;"></button>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <button type="button" pButton  icon="pi pi-angle-right" conPos="right" class="ui-button-success" (click)="onSaveData(3)" label="Next" style="float: right;"></button>
                    </div>
                </div>
            </div>
        </p-footer>
      </form>
            <div  *ngIf="activeIndex == 3"> 
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12">
                        Plane type: 
                        <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <label for="vin">Plan Type</label>
                                </div>
                                <div class="ui-g-8">
                                      
                                        <span class="label label-warning" *ngIf="planForm.value.plan_type == '0'" >Free Account</span>
                                        <span class="label label-success" *ngIf="planForm.value.plan_type == '1'" >Paid Account</span>
                                </div>
                            </div>
                            <div class="ui-g-12">
                                    <div class="ui-g-4">
                                        <label for="vin">Company Name</label>
                                    </div>
                                    <div class="ui-g-8">
                                      {{companyForm.value.company_name}}
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                        <div class="ui-g-4">
                                            <label for="vin">Company Address</label>
                                        </div>
                                        <div class="ui-g-8">
                                          {{companyForm.value.company_address}}
                                        </div>
                                    </div>
                                    <div class="ui-g-12">
                                            <div class="ui-g-4">
                                                <label for="vin">User Name</label>
                                            </div>
                                            <div class="ui-g-8">
                                              {{userForm.value.user_name}}
                                            </div>
                                        </div>
                                        <div class="ui-g-12">
                                                <div class="ui-g-4">
                                                    <label for="vin">User Email</label>
                                                </div>
                                                <div class="ui-g-8">
                                                  {{userForm.value.user_email}}
                                                </div>
                                            </div>
                                            <div class="ui-g-12">
                                                    <div class="ui-g-4">
                                                        </div>
                                                        <div class="ui-g-8">
                                                                <p-captcha siteKey="{{site_key}}" (onResponse)="showResponse($event)"></p-captcha>
                                                        </div>
                                                        </div>
                            <!-- <pre>{{ companyForm.value | json }}</pre>
                            <pre>{{ userForm.value | json }}</pre> -->
                    </div>
                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12 ui-md-6">
                                <button type="button" pButton icon="pi pi-angle-left" (click)="back(2)" label="Back" style="float: left;"></button>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <button type="button" pButton *ngIf="!loaingSpinner" icon="pi pi-save" class="ui-button-success" (click)="onRegister()"  label="Register" style="float: right;"></button>
                                <button type="button" pButton *ngIf="loaingSpinner" disabled icon="pi pi-spin pi-spinner" class="ui-button-success"  label="Please wait..." style="float: right;"></button>
                                   </div>
                        </div>
                   </div>
                </p-footer>
              </div>
         <p-footer>
               
                  
                <a  rel="noopener noreferrer"  routerLink="/login" >Login?</a>
           
      </p-footer>
    </p-card>
    
    <p-card  class="login-form ui-g-12 ui-md-12"  *ngIf="successRegister && emailVerify" >
            <div style="text-align: center">
                <i class="pi pi-check" style="    color: #fff;   background: #08bd65;     border-radius: 100%;margin: 10px;font-size: 50px"></i>
                <!-- <i class="pi pi-exclamation-triangle" style="    color: #fff;   background:#FF9800;     border-radius: 100%;margin: 10px;font-size: 50px"></i> -->
                <!-- <h3>Welcome!</h3> 
                <p>Thanks for signing up! We just need you to verify email address to complete setting your account. </p>  -->
                 <h3>PLEASE VERIFY YOUR EMAIL ADDRESS!</h3> 

              

                 <p>We have sent a verification mail to </p>
                  
                     <form [formGroup]="resendVerifyForm" style="display: inline-block;"> 
                        <div class="ui-g ui-fluid" >
                            <div class="ui-g-12">
                                <div class="ui-g-8">
                                    <div class="ui-inputgroup">
                                            <p-inplace closable="closable">
                                                    <span pInplaceDisplay>
                                                            <b *ngIf="userForm.value.user_email">{{userForm.value.user_email}}</b> <b *ngIf="!userForm.value.user_email">test@gmail.com</b>. <i class="pi pi-pencil" ></i>
                                                    </span>
                                                    <span pInplaceContent>
                                                            <input pInputText  formControlName="user_email" pKeyFilter="email" placeholder="{{userForm.value.user_email}}"/>                    
                                                       
                                                    </span>
                                                </p-inplace>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                      </form>
                    <p>Please active your account with the link in this mail. If you cannot find the mail, please also check the Junk/Spam folder!  </p>
                    <!-- <p>If you have not received a verification email or if your have mistyped your email address, your can resend the verification mail.</p> -->
                    <p>Don't receive the email?</p>
                 
                    <p-footer>
                        <a (click)="resendVerifyEmail()" >Resend Verification Email</a>
                        <!-- <p>(or)</p>                        
                        <a (click)="changePhoneVerify(0,1)" >Verify Phone Number</a> -->
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <div class="ui-g-12 ui-md-6 ui-md-offset-3">
                               <!-- <button type="button" pButton (click)="resendVerifyEmail()" label="Resend Verification Email" style="float: left;"></button> -->
                               <button type="button" pButton  icon="pi pi-angle-right" conPos="right" class="ui-button-secondary" (click)="skipToDashboard()" label="Skip" style="float: right;"></button>
                            </div>
                                                    </div>
                    </p-footer>
              </div>
          </p-card>

          <p-card  class="login-form ui-g-12 ui-md-12"  *ngIf="successRegister && phoneVerify" >
            <div style="text-align: center">
                <i class="pi pi-check" style="    color: #fff;   background: #08bd65;     border-radius: 100%;margin: 10px;font-size: 50px"></i>
                <!-- <i class="pi pi-exclamation-triangle" style="    color: #fff;   background:#FF9800;     border-radius: 100%;margin: 10px;font-size: 50px"></i> -->
                <!-- <h3>Welcome!</h3> 
                <p>Thanks for signing up! We just need you to verify email address to complete setting your account. </p>  -->
                 <h3>PLEASE VERIFY YOUR PHONE NUMBER!</h3> 

              

                 <p>We have sent a OTP to </p>
                  
                     <form [formGroup]="sendOTPForm" > 
                        <div class="ui-g ui-fluid" >
                            <div class="ui-g-12">
                                <div class="ui-g-8">
                                    <div class="ui-inputgroup">
                                            <p-inplace closable="closable">
                                                    <span pInplaceDisplay>
                                                            <b *ngIf="userForm.value.phone">{{userForm.value.phone}}</b> <b *ngIf="!userForm.value.phone">345345</b>. <i class="pi pi-pencil" ></i>
                                                    </span>
                                                    <span pInplaceContent>                 
                                                            <input pInputText type="text" pKeyFilter="int" ng2TelInput  [ng2TelInputOptions]="{initialCountry: 'in'}"  formControlName="phone"  />
 
                                                    </span>
                                                </p-inplace>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                      </form>

                      <form [formGroup]="verifyOTPForm" > 
                            <div class="ui-g ui-fluid" >
                                <div class="ui-g-12">
                                    <div class="ui-g-8">                
                                        <input pInputText type="text"  formControlName="otp"  />
     
                                    </div>
                                </div>
                               
                            </div>
                          </form>
                    <!-- <p>Please active your account with the link in this mail. If you cannot find the mail, please also check the Junk/Spam folder!  </p> -->
                    <!-- <p>If you have not received a verification email or if your have mistyped your email address, your can resend the verification mail.</p> -->
                    <p>Don't receive OTP?</p>
                 
                    <p-footer>
                            <a (click)="resendVerifyPhone()" >Resend OTP</a>
                      
                        <p>(or)</p>                        
                        <a (click)="changePhoneVerify(1,0)" >Verify Email</a>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <div class="ui-g ui-fluid">
                                <div class="ui-g-12 ui-md-6">
          <!-- <button type="button" pButton (click)="resendVerifyEmail()" label="Resend Verification Email" style="float: left;"></button> -->
          <button type="button" pButton  icon="pi pi-angle-right" conPos="right" class="ui-button-secondary" (click)="skipToDashboard()" label="Skip" style="float: right;"></button>
        </div>
                            </div>
                        </div>
                    </p-footer>
              </div>
          </p-card>

</div>
</div>
</div>
<!-- <div  class="ui-g-12 ">
        <app-footer></app-footer>
</div> -->