<ngx-spinner  bdOpacity = 0.1  bdColor = "rgba(255,255,255,0.9)"  size = "default"  color = "#060606"  type = "ball-clip-rotate"  [fullScreen] = "false"  >
        <p style="color: #000" > Registering... </p>
</ngx-spinner>

<div  class="ui-g-12 ui-md-6 ui-md-offset-3">
    
    <p-messages class="ui-g-12" styleClass="loagin-wrapper" ></p-messages>
    <!-- <div class="ui-g-12"  style="text-align: center;position: relative;height: 100px;">
        <a routerLink="">
          <img src="Card" src="./assets/img/comp_logo.png" style="    max-height: 100%;  max-width: 100%;   left: 0;   right: 0;    top: 0;     bottom: 0;   margin: auto;">
        </a>
    </div> -->

<div  class="register-form ui-g-12">
              

<p-card *ngIf="!successRegister" >
        <div class="">
                <h2>Registration</h2>
                <span>You can register free!</span>
            </div>
  <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>

  <form [formGroup]="planForm" *ngIf="activeIndex == 0"> 
    <div class="ui-g ui-fluid" >
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                    
                    <p-card header="Free* / 30 days" subheader="*30 days only trail"  styleClass="ui-card-shadow">
                        <p-header>
                                <i class="pi pi-check" style="    color: #fff;   background: #08bd65;     border-radius: 100%;float: right;margin: 10px;"  *ngIf="planForm.value.plan_type == '0'"></i>
                        </p-header>
                               <div>
                                   <ul>
                                        <ol> Product entry allow 50 only </ol>
                                        <ol> Product allowd only 30 days </ol>
                                    </ul>
                               </div>
                            <p-footer>
                                <button pButton type="button" label="Free*"  class="ui-button-secondary" (click)="selectPlanType(0)"></button>
                            </p-footer>
                        </p-card>
                    <!-- <p-radioButton name="plan_type" value="0" label="Free Plan" formControlName="plan_type" ></p-radioButton> -->
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-6">
                
                    <p-card header="Paid" subheader="One time payment"  styleClass="ui-card-shadow">
                            <p-header>
                                    <i class="pi pi-check" style="    color: #fff;   background: #08bd65;     border-radius: 100%;float: right;   margin: 10px;"  *ngIf="planForm.value.plan_type == '1'"></i>
                                </p-header>
                            <div>
                                    <ul>
                                         <ol> Unlimited product entry</ol>
                                         <ol> Long time support </ol>
                                     </ul>
                                </div>
                                   <p-footer>
                                <button pButton type="button" label="$15,000"  style="margin-right: .25em" (click)="selectPlanType(1)"></button>
                            </p-footer>
                        </p-card>
                <!-- <p-radioButton name="plan_type" value="1" label="Premium Plan" formControlName="plan_type" ></p-radioButton> -->
            </div>
        </div>
    </div>
    <!-- <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton  icon="pi pi-angle-right" conPos="right" class="ui-button-success" (click)="onSaveData(1)" label="Next" style="float: right;"></button>
        </div>
    </p-footer> -->
  </form>
  <form [formGroup]="companyForm" *ngIf="activeIndex == 1"> 
    <div class="ui-g ui-fluid" >
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Company Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="company_name" autofocus />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Owner Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="owner_name"  />
            </div>
        </div>
         <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Company Address</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="company_address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

                <!-- <input pInputText  formControlName="company_address" /> -->

            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Phone</label>
            </div>
            <div class="ui-g-8">
                <p-inputMask formControlName="phone" mask="99-99999-99999" placeholder="99-99999-99999"  slotChar=" "></p-inputMask>

            </div>
        </div>
        <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">GSTIN</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText  formControlName="gstin"  />
                </div>
            </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-angle-left" (click)="back(0)" label="Back" style="float: left;"></button>
            <button type="button" pButton  icon="pi pi-angle-right" conPos="right" class="ui-button-success" (click)="onSaveData(2)" label="Next" style="float: right;"></button>
        </div>
    </p-footer>
  </form>
    <form  [formGroup]="userForm"  *ngIf="activeIndex == 2"> 
        <div class="ui-g ui-fluid" >
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Full Name</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText  formControlName="user_name"  autofocus />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">User Email</label>
                    </div>
                    <div class="ui-g-8">
                            <div class="ui-inputgroup">
                                    <input pInputText  formControlName="user_email" pKeyFilter="email" placeholder="admin@example.com"  emailExist (focusout)="onCheckEmailExist()" />
                                    <button pButton type="button" icon="pi pi-refresh" class="ui-button-warn" *ngIf="emailCheckStatus == 0"></button>    
                                    <button pButton type="button" icon="pi pi-check" class="ui-button-success" *ngIf="emailCheckStatus == 1"></button>    
                                    <button pButton type="button" icon="pi pi-times" class="ui-button-danger" *ngIf="emailCheckStatus == 2"></button>   
              
                                </div>
                    </div>
                    
                </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">User Password</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" formControlName="user_pwd" pPassword nopasswordmatch (focusout)="passwordMatch()" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">Confirm Password</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" formControlName="cnfirm_user_pwd" pPassword nopasswordmatch (focusout)="passwordMatch()"  />
                </div>
            </div>
            <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="year">Phone</label>
                    </div>
                    <div class="ui-g-8">
                        <p-inputMask formControlName="phone" mask="99-99999-99999" placeholder="99-99999-99999"  slotChar=" "></p-inputMask>
        
                    </div>
                </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-angle-left" (click)="back(1)" label="Back" style="float: left;"></button>
                <button type="button" pButton  icon="pi pi-angle-right" conPos="right" class="ui-button-success" (click)="onSaveData(3)" label="Next" style="float: right;"></button>
            </div>
        </p-footer>
      </form>
            <div  *ngIf="activeIndex == 3"> 
                <div class="ui-g ui-fluid" >
                    <div class="ui-g-12">
                        Plane type: 
                        <div class="ui-g-12">
                                <div class="ui-g-4">
                                    <label for="vin">Plan Type</label>
                                </div>
                                <div class="ui-g-8">
                                      
                                        <span class="label label-warning" *ngIf="planForm.value.plan_type == '0'" >Free Account</span>
                                        <span class="label label-success" *ngIf="planForm.value.plan_type == '1'" >Paid Account</span>
                                </div>
                            </div>
                            <div class="ui-g-12">
                                    <div class="ui-g-4">
                                        <label for="vin">Company Name</label>
                                    </div>
                                    <div class="ui-g-8">
                                      {{companyForm.value.company_name}}
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                        <div class="ui-g-4">
                                            <label for="vin">Company Address</label>
                                        </div>
                                        <div class="ui-g-8">
                                          {{companyForm.value.company_address}}
                                        </div>
                                    </div>
                                    <div class="ui-g-12">
                                            <div class="ui-g-4">
                                                <label for="vin">User Name</label>
                                            </div>
                                            <div class="ui-g-8">
                                              {{userForm.value.user_name}}
                                            </div>
                                        </div>
                                        <div class="ui-g-12">
                                                <div class="ui-g-4">
                                                    <label for="vin">User Email</label>
                                                </div>
                                                <div class="ui-g-8">
                                                  {{userForm.value.user_email}}
                                                </div>
                                            </div>
                            <!-- <pre>{{ companyForm.value | json }}</pre>
                            <pre>{{ userForm.value | json }}</pre> -->
                    </div>
                </div>
                <p-footer>
                    <div class="ui-dialog-buttonpane ui-helper-clearfix">
                        <button type="button" pButton icon="pi pi-angle-left" (click)="back(2)" label="Back" style="float: left;"></button>
                        <button type="button" pButton  icon="actionLoding ? 'pi pi-save' : 'pi pi-spin pi-spinner'" class="ui-button-success" (click)="onRegister()"  label="Register" style="float: right;"></button>
                    </div>
                </p-footer>
              </div>
         <p-footer>
               
                  
                <a  rel="noopener noreferrer"  routerLink="/login" >Login?</a>
           
      </p-footer>
    </p-card>
    
    <p-card  class="login-form ui-g-12 ui-md-12"  *ngIf="successRegister" >
            <div style="text-align: center">
                <i class="pi pi-check" style="    color: #fff;   background: #08bd65;     border-radius: 100%;margin: 10px;font-size: 50px"></i>
            <h3>Registered Successfully!</h3> 
            <p>We will redirect to app. </p>
              </div>
          </p-card>

</div>