
<app-header></app-header>
    
    
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/assets/img/bbg5.png" alt="New York" width="1200" height="700">
        <!-- <div class="carousel-caption">
          <h3>GST Ready Best POS Billing Software</h3>
          <p>Ownwaysoft is a single solution to manage all your business requirements</p>
        </div>       -->
      </div>

    </div>

    
     <!-- Container (About Section) -->
     <div id="about" class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h2>About Company</h2><br>
          <h4>Ownwaysoft is a software company that we develope billing softwares, web applications, e-commerce site, windows applications and hybrid apps.</h4><br>
          <p>Ownwaysoft is a single solution to manage all your business requirements.We have an experience in develope billing softwares, web applications, e-commerce site, windows applications and hybrid apps.</p>
          <br><button class="btn btn-default btn-lg" routerLink="/contact-us">Get in Touch</button>
        </div>
        <div class="col-sm-4">
          <span class="glyphicon glyphicon-signal logo"></span>
        </div>
      </div>
    </div>
 
    
    
    <app-footer></app-footer>