
<p-dialog  [(visible)]="displayDialog" (onHide)="onClose()"  [maximizable]="true"  [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true"  [style]="{width: '450px'}">
    <p-header>
            <span *ngIf="supplierForm.value._id">Update</span>
            <span *ngIf="!supplierForm.value._id">Add</span> Supplier
    </p-header>
<form [formGroup]="supplierForm">
<div class="ui-g ui-fluid" >
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Supplier Code</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="supplier_code" disabled />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Supplier Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="supplier_name" autofocus />
            </div>
        </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="vin">Supplier Address</label>
        </div>
        <div class="ui-g-8">
            <input pInputText  formControlName="supplier_address" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="vin">Supplier Phone</label>
        </div>
        <div class="ui-g-8">
            <p-inputMask formControlName="phone" mask="99-99999-99999" placeholder="99-99999-99999" slotChar=" "></p-inputMask>

        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="brand">Status</label>
        </div>
        <div class="ui-g-8">
            <p-dropdown [options]="status"  placeholder="Select Status"  formControlName="status"></p-dropdown>

        </div>
    </div>
</div>
<p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <!-- <button type="button" pButton icon="fa fa-close" (click)="delete(car)" label="Delete"></button> -->
        <button type="button" pButton  icon="pi pi-save" class="ui-button-success" *ngIf="!supplierForm.value._id" (click)="save()" label="Add"></button>
        <button type="button" pButton  icon="pi pi-save" class="ui-button-success" *ngIf="supplierForm.value._id" (click)="save()" label="Update"></button>
    </div>
</p-footer>
</form>
</p-dialog>