<ngx-spinner  bdOpacity = 0.1  bdColor = "rgba(255,255,255,0.9)"  size = "default"  color = "#060606"  type = "ball-clip-rotate"  [fullScreen] = "false"  >
    <p style="color: #000" > Sending email... </p>
</ngx-spinner>
<div  class="ui-g-12 ui-md-4 ui-md-offset-4">
    
    <p-messages class="ui-g-12" styleClass="loagin-wrapper" ></p-messages>
    <div class="ui-g-12"  style="text-align: center;position: relative;height: 100px;">
    <a routerLink="/login">
      <img src="Card" src="./assets/img/comp_logo.png" style="    max-height: 100%;  max-width: 100%;   left: 0;   right: 0;    top: 0;     bottom: 0;   margin: auto;">
    </a>
</div>
    
        <p-card  class="login-form ui-g-12 ui-md-12" *ngIf="!successRegister">
          <form [formGroup]="forgotForm" (ngSubmit)="onSendResetPassword()" style="text-align: center">
         
          <div class="ui-g ui-fluid">
              <div class="ui-g-12 ui-md-12">
                  <h2>Reset Your Password</h2>
                  <span>Please enter your Email to reset your password</span>
              </div>
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <input type="text" pInputText placeholder="Email" formControlName="email" required style="    width: 100%;">              
                   </div>
                   <p  class="error-msg" *ngIf="!forgotForm.controls['email'].valid && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)">
                      <em *ngIf="forgotForm.controls['email'].errors['required']"> Recovery Email is required    </em>
                      <em *ngIf="forgotForm.controls['email'].errors['pattern']">  Invalid Email    </em>
                   </p>
               
                </div>
           
        
              
            <div class="ui-g-12 ui-md-12">
              <button pButton type="submit" label="Send Reset Password Link"  class="ui-button-raised " style="margin-right: .25em;    width: 100%;" ></button>

              </div>
            </div>
                <div style="text-align: center">
              <a  rel="noopener noreferrer"  routerLink="/login"  >Login?</a>
                </div>
        </form>
      </p-card>
      <p-card  class="login-form ui-g-12 ui-md-12"  *ngIf="successRegister" >
        <div style="text-align: center">
            <i class="pi pi-check" style="    color: #fff;   background: #08bd65;     border-radius: 100%;margin: 10px;font-size: 50px"></i>
        <h3>Password Reset Mail Sent</h3> 
        <p>An email has been sent to your rescue email address, {{this.forgotForm.value.email}}. Follow the direction in the email to reset your password. </p>
          </div>
      </p-card>
  </div>
  
  