<!-- <p-toast position="top-right"></p-toast> -->
<div  class="ui-g-12 ui-md-4 ui-md-offset-4">
    
  <p-messages class=" ui-g-12" styleClass="loagin-wrapper"></p-messages>
      <p-card  class="login-form ui-g-12 ui-md-12">
          <form [formGroup]="forgotForm" (ngSubmit)="onSendResetPassword()" style="text-align: center">
          <p-header>
            <img src="Card" src="./assets/img/logo.png" style="width: 150px;margin-bottom: 10px">
                    </p-header>
          <div class="ui-g ui-fluid">
                <div class="ui-g-12 ui-md-12">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                        <input type="text" pInputText placeholder="email" formControlName="email" required style="    width: 100%;">              
                   </div>
                   <p-message severity="error" [text]="forgotForm.controls['email'].errors['required'] ? 'email is required' : forgotForm.controls['email'].errors['minlength'] ? 'Must be longer than 6 characters' : ''" 
                  *ngIf="!forgotForm.controls['email'].valid && (forgotForm.controls['email'].dirty || forgotForm.controls['email'].touched)"></p-message>
                 
                </div>
           
        
              
            <div class="ui-g-12 ui-md-12">
                <a  rel="noopener noreferrer"  routerLink="/login" >Login?</a>
              </div>
            </div>
          <p-footer>
              <button pButton type="submit" label="Send Reset Password Link"  class="ui-button-raised " style="margin-right: .25em;    width: 100%;" ></button>
          </p-footer>
        </form>
      </p-card>
  </div>
  
  