

        <p-breadcrumb [model]="bradCrum"></p-breadcrumb>
        <div style="margin-top: 15px;">
      <p-card  >
<p-table  #dt  [value]="companyList" [loading]="loading" [columns]="cols" dataKey="_id"  [paginator]="true"  [rowsPerPageOptions]="[10,50,100]" [globalFilterFields]="['company_code','company_name','company_address','owner_name','phone']"  [rows]="10" >
 
    <ng-template pTemplate="caption">
        <div class="ui-helper-clearfix" >

            <!-- <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button> -->
            <!-- <button type="button" pButton icon="fa fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button> -->
        </div>
        <div style="text-align: right">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i> 
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"   style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
            <tr>
                  <th style="width: 3em">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn >
                          {{col.header}}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                      </th>
            <th style="width: 10%;">
                    <button type="button" pButton icon="pi pi-plus" class="ui-button-success"  iconPos="left" (click)="showDialogToAdd()" label="Add" ></button>

            </th>
        </tr>
        <!-- <tr>
            <th ></th>
            <th *ngFor="let col of columns" pResizableColumn>
                <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [value]="dt.filters[col.field]?.value">
            </th>            
            <th ></th>
        </tr> -->
       
    </ng-template>
    <ng-template pTemplate="body" let-rowData   let-ri="rowIndex">
          <tr [pSelectableRow]="rowData">
                <td>
                        <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                    </td>
              <td>
                   {{rowData.company_details_id.company_code}}
              </td>
            <td>              
                    {{rowData.company_details_id.company_name}}
            </td>
            <td>              
                    {{rowData.company_details_id.company_address}}
            </td>   <td>              
                    {{rowData.company_details_id.owner_name}}
            </td> 
            <td>              
                {{rowData.company_details_id.phone}}
        </td>
        <td>              
            {{rowData.company_details_id.gstin}}
    </td>
            <td>
                {{rowData.company_details_id.updatedAt | date:'medium'}}
        </td>
            <td style="text-align: center">
                <p-inputSwitch  [(ngModel)]="rowData.activeStatus" (onChange)="onChangeStatus($event)"></p-inputSwitch> 
            </td>
            <td style="text-align:center">
                <button  pButton type="button"  icon="pi pi-pencil" class="ui-button-info" (click)="onRowEdit(rowData)" style="    margin: 0px 5px;"></button>
                <!-- <button  pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button> -->
                <button  pButton type="button"  icon="pi pi-trash" class="ui-button-danger" (click)="delete(rowData, ri)" style="    margin: 0px 5px;"></button>
            </td>
        </tr>
    </ng-template>
       
       <!-- <ng-template pTemplate="paginatorleft" let-state>
        Showing {{(state.page  * state.rows) + 1}} to {{state.rows * (state.page + 1)}} of <strong>{{companyList?.length}}</strong> entries
      </ng-template> -->
   


</p-table>

<p-dialog  [maximizable]="true" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true"  [style]="{width: '700px'}">
    
  <!-- <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"> -->
    <p-header>
                <span *ngIf="companyForm.value._id">Update</span>
                <span *ngIf="!companyForm.value._id">Add</span> Company
        </p-header>
        <div class="profile-wrapper">
    <form [formGroup]="companyForm" > 
    <div class="ui-g ui-fluid" >
            <div class="ui-g-6">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Company Code</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText  formControlName="company_code" disabled />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Company Name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText formControlName="company_name" autofocus />
                </div>
            </div>
        <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Company Address</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText  formControlName="company_address" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

                </div>
            </div>
         
  
            <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Owner Name</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText  formControlName="owner_name"  />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Company Phone</label>
                    </div>
                    <div class="ui-g-8">
                        <p-inputMask formControlName="phone" mask="99-99999-99999" placeholder="99-99999-99999"  slotChar=" "></p-inputMask>
        
                    </div>
                </div>
               
    </div>
        <div class="ui-g-6">
                <div class="profile-wrap" >
                        <div class="prof-img">
                            <img src="./assets/img/logo.png" class="car-add" *ngIf="!croppedImage">
                            <img [src]="croppedImage" *ngIf="croppedImage" class="car-addafter" >
                        </div>
                        <button class="cmn-btn" type="button" style="border:none;float:initial;font-size: 12px !important;background: #ef6a97;margin-top: 15px;position: relative;">
                            <input #upload_logofile type="file" accept=".png, .jpg, .jpeg" style="position:absolute;display:inline-block;opacity:0;width:100%;left: 0;"
                            (change)="fileChangeEvent($event.target.files)"/>
                            <i class="pi pi-cloud-upload" style="font-size:23px;"></i>Upload Logo</button>
                    </div>
                    <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="vin">GSTIN</label>
                            </div>
                            <div class="ui-g-8">
                                    <input pInputText formControlName="gstin"  />
                
                            </div>
                        </div>
            </div>
    </div>
</form>
  

<form [formGroup]="userForm" > 
        <div class="ui-g ui-fluid" >
                <div class="ui-g-6">
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Full Name</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText formControlName="user_name" autofocus />
                    </div>
                </div>
                <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label for="vin">User Email</label>
                        </div>
                        <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                        <input pInputText formControlName="user_email" emailExist (focusout)="onCheckEmailExist()" />
                                        <button pButton type="button" icon="pi pi-spin  pi-spinner" class="ui-button-warn" *ngIf="emailCheckStatus == 0"></button>    
                                        <button pButton type="button" icon="pi pi-check" class="ui-button-success" *ngIf="emailCheckStatus == 1"></button>    
                                        <button pButton type="button" icon="pi pi-times" class="ui-button-danger" *ngIf="emailCheckStatus == 2"></button>   
                  
                                    </div>
                        </div>
                    </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="year">User Password</label>
                    </div>
                    <div class="ui-g-8">
                        <input type="password" pPassword formControlName="user_pwd" />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="year">Confirm Password</label>
                    </div>
                    <div class="ui-g-8">
                        <input type="password" pPassword formControlName="cnfirm_user_pwd" />
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="year">Role</label>
                    </div>
                    <div class="ui-g-8">
                        <p-dropdown [options]="roleList" formControlName="role" placeholder="Select Role" filter="true" >
                        </p-dropdown>
                    </div>
                </div>
                
        </div>
        <div class="ui-g-6">
                <div class="profile-wrap" >
                        <div class="prof-img">
                            <img src="./assets/img/userface.jpg" class="car-add" *ngIf="!croppedImage1">
                            <img [src]="croppedImage1" *ngIf="croppedImage1" class="car-addafter" >
                        </div>
                        <button class="cmn-btn" type="button" style="border:none;float:initial;font-size: 12px !important;background: #ef6a97;margin-top: 15px;position: relative;">
                            <input #upload_logofile type="file" accept=".png, .jpg, .jpeg" style="position:absolute;display:inline-block;opacity:0;width:100%;left: 0;"
                            (change)="fileChangeEvent1($event.target.files)"/>
                            <i class="pi pi-cloud-upload" style="font-size:23px;"></i>Upload Profile</button>
                    </div>
                   
                    <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label for="brand">Status</label>
                        </div>
                        <div class="ui-g-8">
                            <p-dropdown [options]="status" placeholder="Select Status" formControlName="status"></p-dropdown>
            
                        </div>
                    </div>
            </div>

        </div>
        </form>
        </div>
<!-- </p-steps> -->
<p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <!-- <button type="button" pButton icon="fa fa-close" (click)="delete(car)" label="Delete"></button> -->
            <button type="button" pButton  icon="pi pi-save" class="ui-button-success" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" #cd>
        <p-footer>
                <button pButton type="button" label="Yes" class="ui-button-success" (click)="cd.accept()"></button>        
                <button pButton type="button" label="No" class="ui-button-danger" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>

</p-card>

</div>

