<!-- <pre>{{ auth.getUserData() | json }}</pre> -->
<p-toast position="top-right"></p-toast>

        <p-breadcrumb [model]="bradCrum"></p-breadcrumb>
        <div style="margin-top: 15px;">

<p-messages class="ui-g-12" styleClass="loagin-wrapper" ></p-messages>
<p-card  class="ui-g-12">
    <form [formGroup]="changePasswordForm" > 
    <div class="ui-g ui-fluid" >
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="user_pwd">Old Password</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" id="user_pwd" pPassword formControlName="user_pwd" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="new_user_pwd">New Password</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" id="new_user_pwd" pPassword formControlName="new_user_pwd"  nopasswordmatch (focusout)="passwordMatch()"/>
                </div>
            </div> <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="year">Confirm Password</label>
                </div>
                <div class="ui-g-8">
                    <input type="password" pPassword formControlName="cnfirm_user_pwd"  nopasswordmatch (focusout)="passwordMatch()"/>
                </div>
            </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <!-- <button type="button" pButton icon="fa fa-close" (click)="delete(car)" label="Delete"></button> -->
            <button type="button" pButton  icon="actionLoding ? 'pi pi-save' : 'pi pi-spin pi-spinner'" class="ui-button-success" (click)="updatePassword()" label="Change Password"></button>
        </div>
    </p-footer>
    </form>
</p-card>
        </div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" #cd>
<p-footer>
        <button pButton type="button" label="Yes" class="ui-button-success" (click)="cd.accept()"></button>        
        <button pButton type="button" label="No" class="ui-button-danger" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog>