
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<p-breadcrumb [model]="bradCrum"></p-breadcrumb>
<form class="example-form sec" [formGroup]="purchaseInvoiceForm">
<div style="margin-top: 15px;">
<p-card>

<div class="ui-g ui-fluid">
        
<div class="ui-g-2">
        <div class="ui-g-12">
                Invoice No.:  <input pInputText type="text" formControlName="invoice_purchase_code"  readonly required>
            </div>
</div>
<div class="ui-g-2">
            <div class="ui-g-12">
                Purchase Date:  <p-calendar [showIcon]="true"  [readonlyInput]="true" formControlName="invoice_date"  ></p-calendar>
            </div>
</div>

<div class="ui-g-2">

        <div class="ui-g-12">
                Supplier Name: <p-dropdown [options]="supplierList"   placeholder="Select Supplier"  formControlName="supplier_details_id"  filter="true" (onChange)="onSelectSup($event)" ></p-dropdown>
           
           </div>
</div>

<div class="ui-g-2">
           <div class="ui-g-12">
                Supplier Address:  <input pInputText type="text" value="{{selectedSupplierData.supplier_address}}" readonly > 
        </div> 
</div>

<div class="ui-g-2">
        <!-- <pre>{{ selectedSupplierData | json }}</pre> -->
        
        
         <div class="ui-g-12">
                
        Phone:  <input pInputText type="text" value="{{selectedSupplierData.phone}}" readonly >
        </div>
    


</div>

<div class="ui-g-3">

</div>

</div>

      


</p-card>

</div>
<div style="margin-top: 15px;">
    
<p-card>
<div formArrayName="invoiceList">
   
        <table style="margin-bottom: 15px;">
                <thead>
                <tr>
                        <th style="width:8em">Order #</th>
                        <th>Product Name/Code</th>
                        <th>Price</th>
                        <th>MRP</th>
                        <th>Qty</th>
                        <th>GST(%)</th>
                        <th class="with-gst">Total</th>
                        <th style="width:8em"></th>
                    </tr>
                    </thead>
                    <tbody>
            <tr *ngFor="let itemrow of purchaseInvoiceForm.get('invoiceList')['controls']; let i=index"
            [formGroupName]="i">
                <td >
                  {{i + 1}}
                </td>
               <td >
                           <p-dropdown [options]="stocksList" formControlName="stock_details_id" (onChange)="onSelectProduct($event,i)" required placeholder="Select a Product"   filter="true">
                            
                       </p-dropdown> 
                       
               </td>
               <td class="hidden-spinner" style="width: 15%;">
                       <p-spinner [step]="0.25"  formControlName="price" [min]="1" [max]="itemrow.get('mrp').value" (keyup)="onChangeQty(i)"  [formatInput]="true" [disabled]="purchaseInvoiceForm.value.invoiceList[i].stock_details_id ? false : true"  required></p-spinner>

                      
               </td>
               <td class="hidden-spinner" style="width: 15%;">
                <p-spinner size="30"  formControlName="mrp"  [formatInput]="true" [disabled]="true"></p-spinner>

               
        </td>
               <td>
                       <p-spinner  formControlName="qty"  required pKeyFilter="int" [min]="1" (focusout)="onChangeQty(i)" (onChange)="onChangeQty(i)" [disabled]="purchaseInvoiceForm.value.invoiceList[i].stock_details_id ? false : true" ></p-spinner>
                     
                </td>
                <td class="hidden-spinner" >
                        <p-spinner size="30"  formControlName="gst_per"  [formatInput]="true" [disabled]="true"></p-spinner>
 
                        <p class="error-msg" style="position: absolute;    color: #222;">
                                <em >*{{purchaseInvoiceForm.value.invoiceList[i].tax_name}}</em>
                                </p>                        
                </td>


               <td class="hidden-spinner" style="width: 15%;">
                <p-spinner [step]="0.25" formControlName="total_with_gst" [formatInput]="true" [disabled]="true"></p-spinner>

        </td>
               <td >
                <button  pButton type="button"  icon="pi pi-trash" class="ui-button-danger" (click)="deleteListItem(i)" *ngIf="i != 0"  style="    margin: 0px 5px;"></button>
                            <button  pButton type="button"  icon="pi pi-plus" class="ui-button-success" (click)="addListItem()" *ngIf="i == 0"  style="    margin: 0px 5px;"></button>
                           </td>
           </tr>
        </tbody>
        </table>
</div>
   
<div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-6" style="text-align: center">
                <h6>Grand Total <em *ngIf="purchaseInvoiceForm.value.tax_enable">(with GST)</em></h6>
                <h1>{{ purchaseInvoiceForm.value.grand_total | currency :'INR':true}}</h1>
        </div>
        <div class="ui-g-12 ui-md-6">
        <div class="ui-g-12 ui-md-6">
    <div class="ui-g-12">  
        <div class="ui-g-12  ui-md-5"><p style="padding: 0;"> Sub Amount: </p> </div>
        <div class="ui-g-12  ui-md-5"><b>{{purchaseInvoiceForm.value.sub_total  | currency : 'INR':true}}</b> </div>
    </div>   
    <div class="ui-g-12"> 
        <div class="ui-g-12  ui-md-5"><p style="padding: 0;"> SGST: </p> </div>
        <div class="ui-g-12  ui-md-5"><b>{{purchaseInvoiceForm.value.sgst  | currency : 'INR':true}}</b> </div>
    </div>   
    <div class="ui-g-12"> 
        <div class="ui-g-12  ui-md-5"><p style="padding: 0;"> CGST:  </p> </div>
        <div class="ui-g-12  ui-md-5"><b>{{purchaseInvoiceForm.value.cgst  | currency : 'INR':true}}</b> </div>
    </div>   
    <div class="ui-g-12"> 
        <div class="ui-g-12  ui-md-5"><p style="padding: 0;"> Grand Total:  </p> </div>
        <div class="ui-g-12  ui-md-5"><b>{{purchaseInvoiceForm.value.grand_total  | currency : 'INR':true}}</b> </div>
    </div>   
    
    
    <div class="ui-g-12">     
          <p-checkbox name="tax" binary="true" disabled="true" (onChange)="toggleTax($event)"  formControlName="tax_enable" label="Enable Tax" ></p-checkbox>
    </div>
            </div>
        <div class="ui-g-12 ui-md-6">
                
                Discount : <input pInputText type="text" pKeyFilter="int"  required max="{{purchaseInvoiceForm.value.grand_total}}"  formControlName="discount"   (keyup)="onChangeDiscount()"  >
                Payment Status : <p-dropdown [options]="paymentStatus"   placeholder="Select Status"   formControlName="payment_status" required ></p-dropdown> 
             
              Payment Type : <p-dropdown [options]="paymentType"   placeholder="Select Payment"   formControlName="payment_type" required ></p-dropdown>
               Paind Amount : <input pInputText type="text" pKeyFilter="int"  required   formControlName="paid_amount"   (keyup)="onChangePaindAmount()"  >
               Balance Amount : <input pInputText type="text" pKeyFilter="int"  required   formControlName="balance_amount"    >
            </div>
        </div>
</div>

<div class="ui-g ui-fluid">

        <div class="ui-g-2">
                <button pButton type="button" label="Reset" icon="pi pi-replay" class="ui-button-secondary" (click)="onReset()"></button>
            </div>
        <div class="ui-g-2">
                <button pButton type="button" (click)="saveOrder()" label="Save" icon="pi pi-save" class="ui-button-success"></button>
            </div>
            <!-- <div class="ui-g-2">
                    <button pButton type="button" (click)="scanBarcode()" label="Scan" icon="pi pi-search" class="ui-button-success"></button>
                </div> -->
        <!-- <div class="ui-g-2">
                <p-splitButton label="Print Order" icon="pi pi-print" (click)="printOrderWithoutView()" [model]="printItems" styleClass="ui-button-warning"></p-splitButton>
        </div> -->
        <!-- <div class="ui-g-2">
            <button pButton type="button" label="Print Priview" icon="pi pi-print" (click)="printPriview()"  class="ui-button-warning"  ></button>
        </div> -->
    </div>



</p-card>
</div>
</form>


<app-stock-form [displayDialog]="displayDialog" (categoryDialogEvent)="categoryDialog($event)" (unitDialogEvent)="unitDialog($event)" [formType]="formType" [stockData]="stockData" [catData]="catData" [unitData]="unitData" (stockEvent)="receiveStock($event)"  (displayChangeEvent)="onDialogClose($event)"></app-stock-form>

<app-category-form [displayDialog1]="displayDialog1" (displayChangeEvent1)="onDialogClose1($event)" (catEvent)="receiveCategory($event)"></app-category-form>

<app-unit-form [displayDialog2]="displayDialog2" (displayChangeEvent2)="onDialogClose2($event)"  (unitEvent)="receiveUnit($event)"></app-unit-form>




<app-supplier-form [displayDialog]="displayDialog3" (displayChangeEvent)="onDialogClose3($event)" (supplierEvent)="receiveSupplier($event)" [supplierData]="supplierData"></app-supplier-form>

