<div style="margin-top: 15px;">
<section id="not-found">
  <!-- <div id="title">Simple Pure CSS3 &bull; 404 Error Page</div> -->
  <div class="circles">
    <p>404<br>
     <small>PAGE NOT FOUND</small>
    </p>
    <span class="circle big"></span>
    <span class="circle med"></span>
    <span class="circle small"></span>
  </div>
  <div style="text-align: center;">
    <button pButton type="button" label="Go to Dashboard" routerLink="/inventory-mngt/dashboard" ></button>
  </div>
</section>
</div>