<div style="margin-top: 15px;">
    
        <div class="col-xs-10 col-xs-offset-1">
    <div class="col-xs-12 col-md-9">
            <p-card   styleClass="ui-card-shadow">                   
                <app-invoice-design></app-invoice-design>
                </p-card>

    </div>

    
    <div class="col-xs-12 col-md-3">
            <p-card  styleClass="ui-card-shadow">                 
                <app-invoice-design-pos></app-invoice-design-pos>
                </p-card>

    </div>

</div>
</div>