
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

        <p-breadcrumb [model]="bradCrum"></p-breadcrumb>
   <form class="example-form sec" [formGroup]="invoiceForm">
        <div style="margin-top: 15px;">
  <p-card>

   
  
Invoice No.:  <input pInputText type="text" formControlName="invoice_code"  readonly required>
Order Date:  <p-calendar [showIcon]="true"  [readonlyInput]="true" formControlName="invoice_date"  ></p-calendar>
Customer Name: <p-dropdown [options]="customerList"   placeholder="Select Customer"  formControlName="customer_details_id"  [showClear]="true" filter="true"></p-dropdown>
              
    <p-button icon="pi pi-plus" class="ui-button-success" (click)="showDialogToAddCust()"  pTooltip="Add new customer" tooltipPosition="top"></p-button>

     
  </p-card>

        </div>
        <div style="margin-top: 15px;">
            
  <p-card>
	<div formArrayName="invoiceList">
           
        <table>
                <thead>
                <tr>
                        <th style="width: 10%">Order #</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th style="width:8em"></th>
                    </tr>
                    </thead>
                    <tbody>
            <tr *ngFor="let itemrow of invoiceForm.get('invoiceList')['controls']; let i=index"
            [formGroupName]="i">
                <td >
                  {{i + 1}}
                </td>
               <td >
                           <p-dropdown [options]="stocksList" formControlName="stock_details_id" (onChange)="onSelectProduct($event,i)" required placeholder="Select a Product"  [showClear]="true" filter="true">
                            
                       </p-dropdown> 
               </td>
               <td >
                       <input pInputText type="text" formControlName="price"   required readonly>
                      
               </td>
               <td>
                       <!-- <p-spinner  formControlName="qty"  required pKeyFilter="int" [min]="1"  [max]="2"  (keypress)="onChangeQty(i)"  ></p-spinner> -->
                       <input pInputText type="text" formControlName="qty"  pKeyFilter="int" [min]="1"  [max]="2"  (keyup)="onChangeQty(i)"  required>
               </td>
               <td >
                       <input pInputText type="text" formControlName="total"   required readonly>
                      
               </td>
               <td style="text-align:center">
                            <button  pButton type="button"  icon="pi pi-trash" class="ui-button-danger" (click)="deleteListItem(i)" *ngIf="invoiceForm.value.invoiceList.length != i+1"  style="    margin: 0px 5px;"></button>
                            <button  pButton type="button"  icon="pi pi-plus" class="ui-button-success" (click)="addListItem()" *ngIf="invoiceForm.value.invoiceList.length == i+1"  style="    margin: 0px 5px;"></button>
                           </td>
           </tr>
        </tbody>
        <!-- <tfoot>
           <tr >
               <th >
                 
               </th>
              <th >
                          <p-dropdown [options]="stocksList" required placeholder="Select a Product"  [showClear]="true" filter="true">
                           
                      </p-dropdown> 
              </th>
              <th >
                      <input pInputText type="text"   required>
                     
              </th>
              <th>
                      <input pInputText type="text"   required>
              </th>
              <th >
                      <input pInputText type="text"    required>
                     
              </th>
              <th style="text-align:center">
                           <button  pButton type="button"  icon="pi pi-plus" class="ui-button-success" (click)="addListItem()"  style="    margin: 0px 5px;"></button>
                          </th>
          </tr>
        </tfoot> -->
        </table>
    </div>
            <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6" style="text-align: center">
                            <h6>Grand Total</h6>
                            <h1>{{ invoiceForm.value.grand_total | currency :'INR':true}}</h1>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-12 ui-md-6">
                            Sub Amount:  
                           <p>{{invoiceForm.value.sub_total  | currency : 'INR':true}}</p> 
                            Discount $ :<input pInputText type="text" pKeyFilter="int"  required max="{{invoiceForm.value.grand_total}}"  formControlName="discount"   (keyup)="onChangeDiscount()"  >
                    </div>
                    <div class="ui-g-12 ui-md-6">
                            Grand Total: 
                           <p>{{invoiceForm.value.grand_total  | currency : 'INR':true}}</p> 
                            Payment Type : <p-dropdown [options]="paymentType"   placeholder="Select Payment"   formControlName="payment_type" required ></p-dropdown>
                            Payment Status : <p-dropdown [options]="paymentStatus"   placeholder="Select Status"   formControlName="payment_status" required ></p-dropdown> 
                        </div>
                    </div>
            </div>

            <button pButton type="button" label="Reset" icon="pi pi-replay" class="ui-button-secondary" (click)="onReset()"></button>
            <button pButton type="button" (click)="saveOrder()" label="Save Order" icon="pi pi-save" class="ui-button-success"></button>
            <p-splitButton label="Print Order" icon="pi pi-print" (click)="printOrderWithoutView()" [model]="printItems" styleClass="ui-button-warning"></p-splitButton>

            <button pButton type="button" label="PrintJs" icon="pi pi-print" class="ui-button-warning"  ></button>

  </p-card>
        </div>
        </form>

        
<p-dialog  [maximizable]="true" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true"  [style]="{width: '450px'}">
    <p-header>
            <span *ngIf="customerForm.value._id">Update</span>
            <span *ngIf="!customerForm.value._id">Add</span> Customer
    </p-header>
<form [formGroup]="customerForm">
<div class="ui-g ui-fluid" >
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Customer Code</label>
            </div>
            <div class="ui-g-8">
                <input pInputText formControlName="customer_code" disabled />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Customer Name</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="customer_name" autofocus />
            </div>
        </div>
    <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Customer Address</label>
            </div>
            <div class="ui-g-8">
                <input pInputText  formControlName="customer_address" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>

            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Customer Phone</label>
            </div>
            <div class="ui-g-8">
                <p-inputMask formControlName="phone" mask="99-99999-99999" placeholder="99-99999-99999"  slotChar=" "></p-inputMask>

            </div>
        </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="brand">Status</label>
        </div>
        <div class="ui-g-8">
            <p-dropdown [options]="status" placeholder="Select Status" formControlName="status"></p-dropdown>

        </div>
    </div>
</div>
<p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <!-- <button type="button" pButton icon="fa fa-close" (click)="delete(car)" label="Delete"></button> -->
        <button type="button" pButton  icon="pi pi-save" class="ui-button-success" (click)="saveCust()" label="Save"></button>
    </div>
</p-footer>
</form>
</p-dialog>

<p-sidebar [(visible)]="showPdf" position="right" [style]="{width:'35em'}">
    <iframe  [src]="pdfUrl | safe: 'resourceUrl'" width="100%"  #printPdfFrame type="application/pdf"></iframe>
</p-sidebar>