
<app-header></app-header>
    
    

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="/assets/img/bbg6.jpg" alt="New York" width="1200" height="700">
        <!-- <div class="carousel-caption">
          <h3>GST Ready Best POS Billing Software</h3>
          <p>Ownwaysoft is a single solution to manage all your business requirements</p>
        </div>       -->
      </div>

    </div>

    
    
  <!-- Container (Pricing Section) -->
  <div id="pricing" class="container-fluid">
    <div class="text-center">
      <h2>Pricing</h2>
      <h4>Choose a payment plan that works for you</h4>
    </div>
    <div class="row slideanim">
      <div class="col-xs-12" style="width:20%;">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3>Static Websites</h3>
          </div>
          <div class="panel-body">
            <p>Five pages with contact form</p>
            <p>Customize theme</p>
          </div>
          <div class="panel-footer">
            <h3>Rs.9,999</h3>
            <button class="btn btn-lg" routerLink="/register">Sign Up</button>
          </div>
        </div>      
      </div>     
      <div class="col-xs-12" style="width:20%;">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3>Dynamic Websites</h3>
          </div>
          <div class="panel-body">
            <p>Multiple pages with contact form</p>
            <p>Customize theme</p>
          </div>
          <div class="panel-footer">
            <h3>Rs.14,999</h3>
            <button class="btn btn-lg" routerLink="/register">Sign Up</button>
          </div>
        </div>      
      </div>   
      <div class="col-xs-12" style="width:20%;">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3>E-Commerce Websites</h3>
          </div>
          <div class="panel-body">
            <p>Multiple pages with contact form</p>
            <p>Customize theme</p>
          </div>
          <div class="panel-footer">
            <h3>Rs.19,999</h3>
            <button class="btn btn-lg" routerLink="/register">Sign Up</button>
          </div>
        </div>      
      </div>     
      <div class="col-xs-12" style="width:20%;">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3>Billing (or) Management Softwares</h3>
          </div>
          <div class="panel-body">
            <p>Unlimited product entry</p>
            <p>Email notificatin</p>
          </div>
          <div class="panel-footer">
            <h3>Rs.14,999</h3>
            <button class="btn btn-lg" routerLink="/register">Sign Up</button>
          </div>
        </div>      
      </div>     
      <div class="col-xs-12" style="width:20%;">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3>Android/IOS app</h3>
          </div>
          <div class="panel-body">
            <p>Android app (or) IOS app</p>
            <p>Push notification</p>
          </div>
          <div class="panel-footer">
            <h3>Rs.14,999</h3>
            <button class="btn btn-lg" routerLink="/register">Sign Up</button>
          </div>
        </div>      
      </div>    
    </div>
  </div>
    
    
    <app-footer></app-footer>