
        <p-breadcrumb [model]="bradCrum"></p-breadcrumb>
        <div style="margin-top: 15px;">
      <p-card  >
      <p-table  #dt1   [value]="taxList" dataKey="id" [loading]="loading" [paginator]="true" [rows]="10"   [rowsPerPageOptions]="[10,50,100]" [globalFilterFields]="['tax_code','tax_name','tax_value']">
          <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix" >
      
                  <!-- <button type="button" pButton icon="fa fa-file-o" iconPos="left" label="All Data" (click)="dt.exportCSV()" style="float:left"></button> -->
                  <!-- <button type="button" pButton icon="fa fa-file" iconPos="left" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button> -->
              </div>
              <div style="text-align: right">        
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i> 
                  <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt1.filterGlobal($event.target.value, 'contains')"   style="width:auto">
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th  [pSortableColumn]="'tax_code'" pResizableColumn >
                        #
                    <p-sortIcon [field]="tax_code" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                  <th  [pSortableColumn]="'tax_name'" pResizableColumn>
                      Tax Name
                  <p-sortIcon [field]="tax_name" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                  </th>
                  <th  [pSortableColumn]="'tax_value'" pResizableColumn>
                    Tax (CGST)%
                <p-sortIcon [field]="tax_value" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                <th  [pSortableColumn]="'tax_value'" pResizableColumn>
                    Tax (SGST)%
                <p-sortIcon [field]="tax_value" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                </th>
                  <th [pSortableColumn]="'updatedAt'" pResizableColumn>
                        Updated Date
                     <p-sortIcon [field]="updatedAt" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                 </th>
                 <th [pSortableColumn]="'status'" pResizableColumn style="width: 10%;">
                    Status
                 <p-sortIcon [field]="Status" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
             </th>
                 <th style="width: 10%;">
                    <button type="button" pButton icon="pi pi-plus" class="ui-button-success"  iconPos="left" (click)="showDialogToAdd()" label="Add" ></button>

            </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex" >
            
              <tr [pEditableRow]="rowData">
                  <td>
                      #{{rowData.tax_code}}
                  </td>
                  <td>
                      <p-cellEditor>
                          <ng-template pTemplate="input">
                              <input pInputText type="text" [(ngModel)]="rowData.tax_name" required>
                          </ng-template>
                          <ng-template pTemplate="output">
                              {{rowData.tax_name}}
                          </ng-template>
                      </p-cellEditor>
                  </td>
                  <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.tax_value_cgst" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.tax_value_cgst}} %
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                      <ng-template pTemplate="input">
                          <input pInputText type="text" [(ngModel)]="rowData.tax_value_sgst" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                          {{rowData.tax_value_sgst}} %
                      </ng-template>
                  </p-cellEditor>
              </td>
                  <td>
                    {{rowData.updatedAt | date:'medium'}}
            </td>
                  <td style="text-align: center">
                    <p-dropdown [options]="status" placeholder="Status" [(ngModel)]="rowData.status" (onChange)="onChangeStatus($event)"></p-dropdown>
                </td>
                <td style="text-align:center">
                    <button  pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info" (click)="showDialogToAdd(rowData)" style="    margin: 0px 5px;"></button>
                    <!-- <button  pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button> -->
                    <button  pButton type="button" pCancelEditableRow icon="pi pi-trash" class="ui-button-danger" (click)="delete(rowData, ri)" style="    margin: 0px 5px;"></button>
                </td>
              </tr>
          </ng-template>

           <ng-template pTemplate="paginatorleft" let-state>
            Showing {{(state.page  * state.rows) + 1}} to {{state.rows * (state.page + 1)}} of <strong>{{taxList?.length}}</strong> entries
          </ng-template>
      </p-table>

      <app-tax-form [displayDialog3]="displayDialog3" [taxData]="taxData" (displayChangeEvent3)="onDialogClose3($event)" (taxEvent)="receiveTax($event)"></app-tax-form>


      <!-- <p-dialog   [maximizable]="true" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true"  [style]="{width: '450px'}">
            <p-header>
                    <span *ngIf="taxForm.value._id">Update</span>
                    <span *ngIf="!taxForm.value._id">Add</span> Tax
            </p-header>
        <form [formGroup]="taxForm">
        <div class="ui-g ui-fluid" >
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Tax Code</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText  formControlName="tax_code" disabled />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Tax Name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="vin" formControlName="tax_name" autofocus />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Tax %</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="vin" formControlName="tax_value" autofocus />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="brand">Status</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="status" placeholder="Select Status" formControlName="status"></p-dropdown>
    
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                 <button type="button" pButton icon="fa fa-close" (click)="delete(car)" label="Delete"></button>
                <button type="button" pButton  icon="pi pi-save" class="ui-button-success" *ngIf="!taxForm.value._id" (click)="save()" label="Add"></button>
                <button type="button" pButton  icon="pi pi-save" class="ui-button-success" *ngIf="taxForm.value._id" (click)="save()" label="Update"></button>
            </div>
        </p-footer>
    </form>
    </p-dialog> -->
    
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" #cd>
            <p-footer>
                    <button pButton type="button" label="Yes" class="ui-button-success" (click)="cd.accept()"></button>        
                    <button pButton type="button" label="No" class="ui-button-danger" (click)="cd.reject()"></button>
                </p-footer>
            </p-confirmDialog>
    </p-card>
    </div>