
        <p-breadcrumb [model]="bradCrum"></p-breadcrumb>
        <div style="margin-top: 15px;">
                <div *ngIf="loding" style="text-align: center">
                        <p-progressSpinner  [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
                </div>
      <p-card *ngIf="!loding" >
      <p-table  #dt1 [columns]="cols"  [value]="categoryList" dataKey="_id" [paginator]="true" [rows]="10"   [rowsPerPageOptions]="[10,50,100]" [globalFilterFields]="['category_code','category_name']">
          <ng-template pTemplate="caption">
             
           
              <div style="text-align: right;width: 50%; float: right; margin-bottom: 10px;">        
                  <i class="fa fa-search" style="margin:4px 4px 0 0"></i> 
                  <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt1.filterGlobal($event.target.value, 'contains')"   style="width:auto">
              </div>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
              <tr>
                    <th style="width: 3em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn >
                            {{col.header}}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                        </th>
                 <th style="width: 10%;">
                    <button type="button" pButton icon="pi pi-plus" class="ui-button-success"  iconPos="left" (click)="showDialogToAdd()" label="Add"  pTooltip="Add new Category" tooltipPosition="top" ></button>

            </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData  let-ri="rowIndex" >
            
              <tr [pSelectableRow]="rowData">
                    <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                  <td>
                      {{rowData.category_code}}
                  </td>
                  <td>
                              {{rowData.category_name}}
                  </td>
                  <td>
                    {{rowData.updatedAt | date:'medium'}}
            </td>
                  <td style="text-align: center">
                    <p-inputSwitch [(ngModel)]="rowData.status" (onChange)="onChangeStatus($event,rowData.id)"></p-inputSwitch> 
                </td>
                <td style="text-align:center">
                    <button  pButton type="button"  icon="pi pi-pencil" class="ui-button-info" (click)="showDialogToAdd(rowData)" style="    margin: 0px 5px;"></button>
                    <!-- <button  pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button> -->
                    <button  pButton type="button"  icon="pi pi-trash" class="ui-button-danger" (click)="delete(rowData, ri)" style="    margin: 0px 5px;"></button>
                </td>
              </tr>
          </ng-template>
           
           <ng-template pTemplate="paginatorleft" let-state>
            Showing {{(state.page  * state.rows) + 1}} to {{state.rows * (state.page + 1)}} of <strong>{{categoryList?.length}}</strong> entries
          </ng-template>
      </p-table>

      <!-- <p-dialog    [maximizable]="true" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true"  [style]="{width: '450px'}">
            <p-header>
                    <span *ngIf="categoryForm.value._id">Update</span>
                    <span *ngIf="!categoryForm.value._id">Add</span> Category
            </p-header>
        <form [formGroup]="categoryForm">
        <div class="ui-g ui-fluid" >
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label > Code</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText  formControlName="category_code" disabled />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label >Category Name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText  formControlName="category_name" autofocus />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="brand">Status</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="status" placeholder="Select Status" formControlName="status"></p-dropdown>
    
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton  icon="pi pi-save" class="ui-button-success" (click)="save()" label="Save"></button>
            </div>
        </p-footer>
    </form>
    </p-dialog> -->
    
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" #cd>
            <p-footer>
                    <button pButton type="button" label="Yes" class="ui-button-success" (click)="cd.accept()"></button>        
                    <button pButton type="button" label="No" class="ui-button-danger" (click)="cd.reject()"></button>
                </p-footer>
            </p-confirmDialog>


    </p-card>
    </div>

    <app-category-form [displayDialog1]="displayDialog1" [catData]="catData" (displayChangeEvent1)="onDialogClose1($event)" (catEvent)="receiveCategory($event)"></app-category-form>


    <p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
                <div style="text-align: center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                    <h3>{{message.summary}}</h3>
                    <p>{{message.detail}}</p>
                </div>
                <div class="ui-g ui-fluid" style="text-align: center">
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
                    </div>
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                    </div>
                </div>
            </ng-template>
        </p-toast>