<div style="margin-top: 15px;">
<p-card >
<!-- Product Price:Rs 4500.00 -->
<!-- <div id="paypal-checkout-btn"></div> -->
<!-- <pre>{{ paymentDetails | json }}</pre>  -->
<div class="ui-g ui-fluid" >
<div  *ngIf="paymentDetails.plan_type == '0'">
      <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="vin">Plan Type</label>
        </div>
        <div class="ui-g-8">
                <span class="label label-warning"  >Free Account </span>
        </div>
    </div>
    <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Payment Amount</label>
            </div>
            <div class="ui-g-8">
                    {{paymentDetails.payment_amount | currency : 'INR':true}}
            </div>
        </div>
        <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Currency</label>
                </div>
                <div class="ui-g-8">
                        {{paymentDetails.currency}}
                </div>
            </div>
            <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Expiry Date</label>
                    </div>
                    <div class="ui-g-8">
                            {{paymentDetails.expiry_date | date:'medium'}}
                    </div>
                </div>
</div>

<div  *ngIf="paymentDetails.plan_type == '1'">
        <div class="ui-g-12">
          <div class="ui-g-4">
              <label for="vin">Plan Type</label>
          </div>
          <div class="ui-g-8">
                
                <span class="label label-success" >Paid Account</span>
          </div>
      </div>
      <div class="ui-g-12">
              <div class="ui-g-4">
                  <label for="vin">Payment Amount</label>
              </div>
              <div class="ui-g-8">
                      {{paymentDetails.payment_amount | currency : 'INR':true}}
              </div>
          </div>
          <div class="ui-g-12">
                  <div class="ui-g-4">
                      <label for="vin">Currency</label>
                  </div>
                  <div class="ui-g-8">
                          {{paymentDetails.currency}}
                  </div>
              </div>
              <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Email</label>
                    </div>
                    <div class="ui-g-8">
                            {{paymentDetails.payment_details.email}}
                    </div>
                </div>
                <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label for="vin">Type</label>
                        </div>
                        <div class="ui-g-8">
                                {{paymentDetails.payment_details.type}}
                        </div>
                    </div>
              <div class="ui-g-12">
                      <div class="ui-g-4">
                          <label for="vin">Paid date</label>
                      </div>
                      <div class="ui-g-8">
                            {{paymentDetails.updatedAt | date:'medium'}}
                      </div>
                  </div>
  </div>
</div>
<p-button label="Buy" (onClick)="onBuyProduct()" *ngIf="paymentDetails.plan_type == '0'"></p-button>
</p-card>
</div>