
        <p-breadcrumb [model]="bradCrum"></p-breadcrumb>
        <div style="margin-top: 15px;">
                <div *ngIf="loding" style="text-align: center">
                        <p-progressSpinner  [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
                </div>
      <p-card *ngIf="!loding" >
<p-table  #dt   [value]="stocksList"  [columns]="cols" dataKey="_id" [paginator]="true"  [rowsPerPageOptions]="[10,50,100]"  [globalFilterFields]="['_id','stock_name','stock_qty','buying_price','selling_price','product_details']" [rows]="10" >
 
    <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left;width: 50%; float: left; margin-bottom: 10px;">
                    <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>
                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
                    <!-- <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"  style="margin-right: 0.5em;" ></button> -->
                    <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"  style="margin-right: 0.5em;"  ></button>
                </div>
        <div style="text-align: right">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i> 
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"   style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
            <tr>
                  <th style="width: 3em">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn >
                          {{col.header}}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                      </th>
            <th style="width: 10%;">
                    <button type="button" pButton icon="pi pi-plus" class="ui-button-success"  iconPos="left" (click)="showDialogToAdd()" label="Add"  pTooltip="Add new stock" tooltipPosition="top"></button>

            </th>
        </tr>
        <!-- <tr>
            <th ></th>
            <th *ngFor="let col of columns" pResizableColumn>
                <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [value]="dt.filters[col.field]?.value">
            </th>            
            <th ></th>
        </tr> -->
       
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-ri="rowIndex" >
            <tr [pSelectableRow]="rowData">
                    <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td>
                                {{rowData.stock_code}}
                          </td>
                        <td>
                                {{rowData._id}}
                          </td>
            <td>              
                    {{rowData.stock_name}}
            </td>
            <td>              
                {{rowData.category_details_id.category_name}}
            </td>
            <td>
                    {{rowData.stock_qty}}
            </td>
            <td>
                {{rowData.buying_price  | currency : 'INR':true}}
        </td>
        <td>
            {{rowData.selling_price  | currency : 'INR':true}}
        </td>
        <td>
        {{rowData.product_details}}
        </td>
        <td>
                {{rowData.unit_details_id?.unit_name}}
        </td>
        <td>
            {{rowData.updatedAt | date:'medium'}}
    </td>
        <td style="text-align: center">
            <p-inputSwitch [(ngModel)]="rowData.status" (onChange)="onChangeStatus($event)"></p-inputSwitch> 
            </td>
            <td style="text-align:center">
                <button  pButton type="button"  icon="pi pi-pencil" class="ui-button-info" (click)="onRowEdit(rowData)" style="    margin: 0px 5px;"></button>
                <!-- <button  pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button> -->
                <button  pButton type="button"  icon="pi pi-trash" class="ui-button-danger" (click)="delete(rowData, ri)" style="    margin: 0px 5px;"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" >
         <tr>
            <td colspan="13" style="text-align: center">
                    There are {{stocksList?.length}} records
            </td>
        </tr>
        
    </ng-template>
   

</p-table>
<p-dialog   [(visible)]="displayDialog"  [maximizable]="true"  [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true"  [style]="{width: '450px'}">
    <p-header>
            <span *ngIf="stockForm.value._id">Update</span>
            <span *ngIf="!stockForm.value._id">Add</span> Stock
    </p-header>
    <app-stock-form></app-stock-form>
    <form [formGroup]="stockForm">
    <div class="ui-g ui-fluid" >
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Stock Code</label>
                </div>
                <div class="ui-g-8">
                    <input type="text" pInputText formControlName="stock_code"  disabled />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Stock Name</label>
                </div>
                <div class="ui-g-8">
                    <input type="text" pInputText formControlName="stock_name"  autofocus />
                </div>
            </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="vin">Category</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="categoryList" placeholder="Select Category" filter="true" formControlName="category_details_id" [showClear]="true" (onChange)="onSelectCat($event)"></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Qty</label>
            </div>
            <div class="ui-g-8">
                <input type="text" pKeyFilter="int" pInputText formControlName="stock_qty" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Buying Price</label>
            </div>
            <div class="ui-g-8">
                <input type="text" pKeyFilter="int" pInputText formControlName="buying_price" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Selling Price</label>
            </div>
            <div class="ui-g-8">
                <input type="text" pKeyFilter="int" pInputText formControlName="selling_price" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="year">Details</label>
            </div>
            <div class="ui-g-8">
                <!-- <input type="text" pInputText [(ngModel)]="car.product_details" /> -->
                <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" formControlName="product_details" ></textarea>
            </div>
        </div>
        <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Unit</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="unitList" placeholder="Select Unit" filter="true" formControlName="unit_details_id" [showClear]="true" (onChange)="onSelectUnit($event)"></p-dropdown>
                </div>
            </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="brand">Status</label>
            </div>
            <div class="ui-g-8">
                <p-dropdown [options]="status" placeholder="Select Status" formControlName="status"></p-dropdown>

            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <!-- <button type="button" pButton icon="fa fa-close" (click)="delete(car)" label="Delete"></button> -->
            <button type="button" pButton  icon="pi pi-save" class="ui-button-success" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</form>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" #cd>
        <p-footer>
                <button pButton type="button" label="Yes" class="ui-button-success" (click)="cd.accept()"></button>        
                <button pButton type="button" label="No" class="ui-button-danger" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>

        <p-dialog   [maximizable]="true" [(visible)]="displayDialog1" [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true"  [style]="{width: '450px'}">
                <p-header>
                        <span *ngIf="categoryForm.value._id">Update</span>
                        <span *ngIf="!categoryForm.value._id">Add</span> Category
                </p-header>
            <form [formGroup]="categoryForm">
                    <div class="ui-g ui-fluid" >
                        
            <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Category Code</label>
                    </div>
                    <div class="ui-g-8">
                        <input type="text" pInputText formControlName="category_code"  disabled />
                    </div>
                </div>
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="vin">Category Name</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="vin" formControlName="category_name" autofocus />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="brand">Status</label>
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [options]="status" placeholder="Select Status" formControlName="status"></p-dropdown>
                
                            </div>
                        </div>
                    </div>
                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <!-- <button type="button" pButton icon="fa fa-close" (click)="delete(car)" label="Delete"></button> -->
                            <button type="button" pButton  icon="pi pi-save" class="ui-button-success" (click)="addCategory()" label="Save"></button>
                        </div>
                    </p-footer>
                </form>
                </p-dialog>
                <p-dialog  [maximizable]="true" [(visible)]="displayDialog2" [responsive]="true" showEffect="fade" [resizable]="false" [modal]="true"  [style]="{width: '450px'}">
                        <p-header>
                                <span *ngIf="unitForm.value._id">Update</span>
                                <span *ngIf="!unitForm.value._id">Add</span> Unit
                        </p-header>
                    <form [formGroup]="unitForm">
                            <div class="ui-g ui-fluid" >
                                
                    <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="vin">Unit Code</label>
                            </div>
                            <div class="ui-g-8">
                                <input type="text" pInputText formControlName="unit_code"  disabled />
                            </div>
                        </div>
                                <div class="ui-g-12">
                                    <div class="ui-g-4">
                                        <label for="vin">Unit Name</label>
                                    </div>
                                    <div class="ui-g-8">
                                        <input pInputText id="vin" formControlName="unit_name" autofocus />
                                    </div>
                                </div>
                                <div class="ui-g-12">
                                    <div class="ui-g-4">
                                        <label for="brand">Status</label>
                                    </div>
                                    <div class="ui-g-8">
                                        <p-dropdown [options]="status" placeholder="Select Status" formControlName="status"></p-dropdown>
                        
                                    </div>
                                </div>
                            </div>
                            <p-footer>
                                <div class="ui-dialog-buttonpane ui-helper-clearfix">
                                    <!-- <button type="button" pButton icon="fa fa-close" (click)="delete(car)" label="Delete"></button> -->
                                    <button type="button" pButton  icon="pi pi-save" class="ui-button-success" (click)="addUnit()" label="Save"></button>
                                </div>
                            </p-footer>
                        </form>
                        </p-dialog>
</p-card>
</div>
