
        <p-breadcrumb [model]="bradCrum"></p-breadcrumb>
        <div style="margin-top: 15px;">
                <div *ngIf="loding" style="text-align: center">
                        <p-progressSpinner  [style]="{width: '50px', height: '50px'}"></p-progressSpinner>
                </div>
      <p-card *ngIf="!loding" >
<p-table  #dt   [value]="stocksList"  [columns]="cols" dataKey="_id" [paginator]="true"  [rowsPerPageOptions]="[10,50,100]"  [globalFilterFields]="['_id','stock_name','stock_qty','buying_price','selling_price','product_details']" [rows]="10" >
 
    <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left;width: 50%; float: left; margin-bottom: 10px;">
                    <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>
                    <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
                    <!-- <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"  style="margin-right: 0.5em;" ></button> -->
                    <button type="button" pButton icon="pi pi-file" iconPos="left" label="CSV - Selection Only" (click)="dt.exportCSV({selectionOnly:true})"  style="margin-right: 0.5em;"  ></button>
                </div>
        <div style="text-align: right">        
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i> 
            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')"   style="width:auto">
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
            <tr>
                  <th style="width: 3em">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                      </th>
                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn >
                          {{col.header}}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>

                      </th>
            <th style="width: 10%;">
                    <button type="button" pButton icon="pi pi-plus" class="ui-button-success"  iconPos="left" (click)="showDialogToAdd()" label="Add"  pTooltip="Add new stock" tooltipPosition="top"></button>

            </th>
        </tr>
        <!-- <tr>
            <th ></th>
            <th *ngFor="let col of columns" pResizableColumn>
                <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [value]="dt.filters[col.field]?.value">
            </th>            
            <th ></th>
        </tr> -->
       
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-ri="rowIndex" >
            <tr [pSelectableRow]="rowData">
                    <td>
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td>
                                {{rowData.stock_code}}
                          </td>
                        <td>
                                {{rowData._id}}
                          </td>
            <td>              
                    {{rowData.stock_name}}
            </td>
            <td>              
                {{rowData.category_details_id.category_name}}
            </td>
            <td>
                    {{rowData.stock_qty}}
            </td>
            <td>
                {{rowData.buying_price  | currency : 'INR':true}}
        </td>
        <td>
            {{rowData.selling_price  | currency : 'INR':true}}
        </td>
        <td>
        {{rowData.product_details}}
        </td>
        <td>
                {{rowData.unit_details_id?.unit_name}}
        </td>
        <td>
            {{rowData.updatedAt | date:'medium'}}
    </td>
        <td style="text-align: center">
            <p-inputSwitch [(ngModel)]="rowData.status" (onChange)="onChangeStatus($event)"></p-inputSwitch> 
            </td>
            <td style="text-align:center">
                <button  pButton type="button"  icon="pi pi-pencil" class="ui-button-info" (click)="showDialogToAdd(rowData)" style="    margin: 0px 5px;"></button>
                <!-- <button  pButton type="button"  icon="pi pi-pencil" class="ui-button-info" (click)="onRowEdit(rowData)" style="    margin: 0px 5px;"></button> -->
                <!-- <button  pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button> -->
                <button  pButton type="button"  icon="pi pi-trash" class="ui-button-danger" (click)="delete(rowData, ri)" style="    margin: 0px 5px;"></button>
            </td>
        </tr>
    </ng-template>
   
    <ng-template pTemplate="paginatorleft" let-state>
        Showing {{(state.page  * state.rows) + 1}} to {{state.rows * (state.page + 1)}} of <strong>{{stocksList?.length}}</strong> entries
      </ng-template>

</p-table>


</p-card>
</div>


<app-stock-form [displayDialog]="displayDialog" (categoryDialogEvent)="categoryDialog($event)" (unitDialogEvent)="unitDialog($event)" [stockData]="stockData" [catData]="catData" [unitData]="unitData" (stockEvent)="receiveStock($event)"  (displayChangeEvent)="onDialogClose($event)"></app-stock-form>

<app-category-form [displayDialog1]="displayDialog1" (displayChangeEvent1)="onDialogClose1($event)" (catEvent)="receiveCategory($event)"></app-category-form>

<app-unit-form [displayDialog2]="displayDialog2" (displayChangeEvent2)="onDialogClose2($event)"  (unitEvent)="receiveUnit($event)"></app-unit-form>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" #cd>
        <p-footer>
                <button pButton type="button" label="Yes" class="ui-button-success" (click)="cd.accept()"></button>        
                <button pButton type="button" label="No" class="ui-button-danger" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>
