@media screen {
    #print-section{
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
}

@media print
{    
    #print-section
    {
        visibility: visible !important;
    }
}

