
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

        <p-breadcrumb [model]="bradCrum"></p-breadcrumb>
   <form class="example-form sec" [formGroup]="invoiceForm">
        <div style="margin-top: 15px;">
  <p-card>

    <div class="ui-g ui-fluid">
        
          
<div class="ui-g-3">
        <div class="ui-g-12">
                Invoice No.:  <input pInputText type="text" formControlName="invoice_code"  readonly required>
            </div>
            <div class="ui-g-12">
                Purchase Date:  <p-calendar [showIcon]="true"  [readonlyInput]="true" formControlName="invoice_date"  ></p-calendar>
            </div>
</div>

<div class="ui-g-3">

        <div class="ui-g-12">
                Customer Name: <p-dropdown [options]="customerList"   placeholder="Select Customer"  formControlName="customer_details_id"   filter="true" (onChange)="onSelectCust($event)" ></p-dropdown>
           
           </div>
           <div class="ui-g-12">
                Customer Address:  <input pInputText type="text" value="{{selectedCustData.customer_address}}" readonly > 
        </div> 
</div>

<div class="ui-g-3">
        <!-- <pre>{{ selectedSupplierData | json }}</pre> -->
        
        
         <div class="ui-g-12">
                
                Customer Phone:  <input pInputText type="text" value="{{selectedCustData.phone}}" readonly >
        </div>
    


</div>

<div class="ui-g-3">

</div>
        <div class="ui-g-4">

        </div>
    </div>
  
              

     
  </p-card>

        </div>
        <div style="margin-top: 15px;">
            
  <p-card>
	<div formArrayName="invoiceList">
           
        <table>
                <thead>
                <tr>
                        <th style="width: 10%">Order #</th>
                        <th>Product Name/Code</th>
                        <th>Price</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th style="width:8em"></th>
                    </tr>
                    </thead>
                    <tbody>
            <tr *ngFor="let itemrow of invoiceForm.get('invoiceList')['controls']; let i=index"
            [formGroupName]="i">
                <td >
                  {{i + 1}}
                </td>
               <td >
                           <p-dropdown [options]="stocksList" formControlName="stock_details_id" (onChange)="onSelectProduct($event,i)" required placeholder="Select a Product"   filter="true">
                            
                       </p-dropdown> 
                       
               </td>
               <td class="hidden-spinner" style="width: 20%;">
                       <!-- <input pInputText type="text" formControlName="price"   required readonly> -->
                       <p-spinner size="30"  formControlName="price"  [formatInput]="true" [disabled]="true"></p-spinner>

                       <!-- <span class="ui-inputtext ui-fluid .ui-inputtext ui-corner-all" style="float: left; height: 35px;">  {{ invoiceForm.value.invoiceList[i].price  | currency :'INR':true}}</span> -->
                      
               </td>
               <td>
                       <p-spinner  formControlName="qty"  required pKeyFilter="int" [min]="1" (focusout)="onChangeQty(i)" (onChange)="onChangeQty(i)" [disabled]="invoiceForm.value.invoiceList[i].stock_details_id ? false : true" ></p-spinner>
                       <!-- <input pInputText type="text" formControlName="qty"  pKeyFilter="int" [min]="1"  (keyup)="onChangeQty(i)"  required> -->
                       <p class="error-msg" style="position: absolute;">
                        <em *ngIf="invoiceForm.value.invoiceList[i].qty && (invoiceForm.value.invoiceList[i].total_qty < invoiceForm.value.invoiceList[i].qty)">*Ther are {{invoiceForm.value.invoiceList[i].total_qty}} only available</em>
                        </p>
                </td>
               <td class="hidden-spinner" style="width: 20%;">
                       <!-- <input pInputText type="text" formControlName="total"   required readonly> -->
                       <p-spinner styleClasssize="30"  formControlName="total"  [formatInput]="true" [disabled]="true"></p-spinner>

                       <!-- <span class="ui-inputtext ui-fluid .ui-inputtext ui-corner-all" style="float: left; height: 35px;"> {{ invoiceForm.value.invoiceList[i].total  | currency :'INR':true}}</span> -->
                      
               </td>
               <td >
                <!-- <button  pButton type="button"  icon="pi pi-trash" class="ui-button-danger" [disabled]="(invoiceForm.value.invoiceList.length == 1) ? true : false" (click)="deleteListItem(i)"  style="    margin: 0px 5px;"></button> -->
                <!-- <button  pButton type="button"  icon="pi pi-trash" class="ui-button-danger" (click)="deleteListItem(i)" *ngIf="invoiceForm.value.invoiceList.length != i+1"  style="    margin: 0px 5px;"></button> -->
                <button  pButton type="button"  icon="pi pi-trash" class="ui-button-danger" (click)="deleteListItem(i)" *ngIf="i != 0"  style="    margin: 0px 5px;"></button>
                            <button  pButton type="button"  icon="pi pi-plus" class="ui-button-success" (click)="addListItem()" *ngIf="i == 0"  style="    margin: 0px 5px;"></button>
                           </td>
           </tr>
        </tbody>
        <!-- <tfoot>
           <tr >
               <th >
                 
               </th>
              <th >
                          <p-dropdown [options]="stocksList" required placeholder="Select a Product"  [showClear]="true" filter="true">
                           
                      </p-dropdown> 
              </th>
              <th >
                      <input pInputText type="text"   required>
                     
              </th>
              <th>
                      <input pInputText type="text"   required>
              </th>
              <th >
                      <input pInputText type="text"    required>
                     
              </th>
              <th style="text-align:center">
                           <button  pButton type="button"  icon="pi pi-plus" class="ui-button-success" (click)="addListItem()"  style="    margin: 0px 5px;"></button>
                          </th>
          </tr>
        </tfoot> -->
        </table>
    </div>
            <div class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-6" style="text-align: center">
                            <h6>Grand Total</h6>
                            <h1>{{ invoiceForm.value.grand_total | currency :'INR':true}}</h1>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                    <div class="ui-g-12 ui-md-6">
                            Sub Amount:  
                           <p>{{invoiceForm.value.sub_total  | currency : 'INR':true}}</p> 
                            Discount $ :<input pInputText type="text" pKeyFilter="int"  required max="{{invoiceForm.value.grand_total}}"  formControlName="discount"   (keyup)="onChangeDiscount()"  >
                    </div>
                    <div class="ui-g-12 ui-md-6">
                            Grand Total: 
                           <p>{{invoiceForm.value.grand_total  | currency : 'INR':true}}</p> 
                           Payment Type : <p-dropdown [options]="paymentType"   placeholder="Select Payment"   formControlName="payment_type" required ></p-dropdown>
                           Paind Amount : <input pInputText type="text" pKeyFilter="int"  required   formControlName="paid_amount"   (keyup)="onChangePaindAmount()"  >
                           Balance Amount : <input pInputText type="text" pKeyFilter="int"  required   formControlName="balance_amount"    >
                           Payment Status : <p-dropdown [options]="paymentStatus"   placeholder="Select Status"   formControlName="payment_status" required ></p-dropdown> 
                        </div>
                    </div>
            </div>

            <div class="ui-g ui-fluid">
        
                    <div class="ui-g-2">
                            <button pButton type="button" label="Reset" icon="pi pi-replay" class="ui-button-secondary" (click)="onReset()"></button>
                        </div>
                    <div class="ui-g-2">
                            <button pButton type="button" (click)="saveOrder()" label="Save & Print Bill" icon="pi pi-save" class="ui-button-success"></button>
                        </div>
                        <div class="ui-g-2">
                                <button pButton type="button" (click)="scanBarcode()" label="Scan" icon="pi pi-search" class="ui-button-success"></button>
                            </div>
                    <!-- <div class="ui-g-2">
                            <p-splitButton label="Print Order" icon="pi pi-print" (click)="printOrderWithoutView()" [model]="printItems" styleClass="ui-button-warning"></p-splitButton>
                    </div> -->
                    <!-- <div class="ui-g-2">
                        <button pButton type="button" onclick="printJS('print-section', 'html')" label="Print" icon="pi pi-print"  class="ui-button-warning"  ></button>
                    </div> -->
                </div>



  </p-card>
        </div>
        </form>

 


<app-stock-form [displayDialog]="displayDialog" (categoryDialogEvent)="categoryDialog($event)" (unitDialogEvent)="unitDialog($event)" [stockData]="stockData" [catData]="catData" [unitData]="unitData" (stockEvent)="receiveStock($event)"  (displayChangeEvent)="onDialogClose($event)"></app-stock-form>

<app-category-form [displayDialog1]="displayDialog1" (displayChangeEvent1)="onDialogClose1($event)" (catEvent)="receiveCategory($event)"></app-category-form>

<app-unit-form [displayDialog2]="displayDialog2" (displayChangeEvent2)="onDialogClose2($event)"  (unitEvent)="receiveUnit($event)"></app-unit-form>



<app-customer-form [displayDialog3]="displayDialog3" (displayChangeEvent3)="onDialogClose3($event)"  (customerEvent)="receiveCustomer($event)"></app-customer-form>
          

<!-- <div id="print-section" style="display: none">  -->
        <div id="print-section" > 
       
        <!-- <app-invoice-design-pos #printDiv [invoiceData]="invoiceData"></app-invoice-design-pos> -->
               
        <!-- <app-invoice-design-pos></app-invoice-design-pos> -->
      </div>