

        <p-breadcrumb [model]="bradCrum"></p-breadcrumb>
        <div style="margin-top: 15px;">
<p-card>
        <div class="profile-wrapper">


    <form [formGroup]="companyForm">
        <div class="ui-g ui-fluid" >
            
                <div class="ui-g-6">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="vin">Company Name</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="vin" formControlName="company_name" autofocus />
                </div>
            </div>
            <div class="ui-g-12">
                    <div class="ui-g-4">
                        <label for="vin">Company Address</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText  formControlName="company_address" ngx-google-places-autocomplete  #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"/>
    
                    </div>
                </div>
               
                <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label for="vin">Owner Name</label>
                        </div>
                        <div class="ui-g-8">
                            <input pInputText id="vin" formControlName="owner_name"  />
                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label for="vin">Company Phone</label>
                        </div>
                        <div class="ui-g-8">
                            <!-- <p-inputMask formControlName="phone" mask="99-99999-99999" placeholder="99-99999-99999"  slotChar=" "></p-inputMask> -->
                            <input pInputText type="text" pKeyFilter="int" ng2TelInput (countryChange)="onCountryChange($event)" [ng2TelInputOptions]="{initialCountry:'in'}"  formControlName="phone"  />

                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label for="vin">Company Phone 2</label>
                        </div>
                        <div class="ui-g-8">
                            <!-- <p-inputMask formControlName="phone" mask="99-99999-99999" placeholder="99-99999-99999"  slotChar=" "></p-inputMask> -->
                            <input pInputText type="text" pKeyFilter="int" ng2TelInput (countryChange)="onCountryChange($event)" [ng2TelInputOptions]="{initialCountry:'in'}"  formControlName="phone2"  />

                        </div>
                    </div>
                    <div class="ui-g-12">
                        <div class="ui-g-4">
                            <label for="vin">GSTIN</label>
                        </div>
                        <div class="ui-g-8">
                                <input pInputText id="vin" formControlName="gstin"  />
            
                        </div>
                    </div>
            <!-- <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="brand">Status</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="status" placeholder="Select Status" formControlName="status"></p-dropdown>
    
                </div>
            </div> -->
        </div>
        <div class="ui-g-6">
            <div class="ui-g-12">
                    <div class="profile-wrap">
                        <div class="prof-img">
                            <img src="./assets/img/logo.png" class="car-add" *ngIf="!croppedImage">
                            <img [src]="croppedImage" *ngIf="croppedImage" class="car-addafter" >
                        </div>
                        <button class="cmn-btn" type="button" style="border:none;float:initial;font-size: 12px !important;background: #ef6a97;margin-top: 15px;position: relative;">
                            <!-- <input #upload_logofile type="file" accept=".png, .jpg, .jpeg" style="position:absolute;display:inline-block;opacity:0;width:100%;left: 0;"
                            (change)="fileChangeEvent($event.target.files)"/>  -->
                              <input #upload_logofile type="file" accept=".png, .jpg, .jpeg" style="position:absolute;display:inline-block;opacity:0;width:100%;left: 0;"
                            (change)="fileChangeEvent($event)"/>
                            <i class="pi pi-cloud-upload" style="font-size:23px;"></i>Upload Company Logo</button>
                    </div>
             </div>  
             
            <!-- <div class="ui-g-12">
                <a routerLink="/company/{{sessionService.getItem('slug')}}" target="_blank">Company Link</a>
            </div>     -->
            </div>

    </div>
    
        
        <p-footer>
                <div class="ui-dialog-buttonpane ui-helper-clearfix" style="text-align: center;">
                    <!-- <button type="button" pButton icon="fa fa-close" (click)="delete(car)" label="Delete"></button> -->
                    <button type="button" style="width: 20%;" pButton  icon="pi pi-save" class="ui-button-success" (click)="onUpdate()" label="Update"></button>
                </div>
            </p-footer>

    </form>

        </div>

</p-card>
</div>

<p-dialog  [(visible)]="displayDialog" [maximizable]="true" [responsive]="true" [showHeader]="true" showEffect="fade" [resizable]="false" [modal]="true"  [style]="{width: '500px'}">
 
    <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>
    <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>

    <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>

    </p-dialog>

    
 