

<p-breadcrumb [model]="bradCrum"></p-breadcrumb>

<div class="ui-g ui-fluid">
    <div class="ui-g-12" >

        <div class="ui-g-3"  *ngIf="sessionService.getItem('role') == '0'">
            <a routerLink="/inventory-mngt/master/company">
                <p-card styleClass="card1" >
                    Company Master
                </p-card>
            </a>
        </div>

        <div class="ui-g-3">
            <a routerLink="/inventory-mngt/master/unit">
                <p-card styleClass="card1" >
                    Unit Master
                </p-card>
            </a>
        </div>
        
        <div class="ui-g-3">
            <a routerLink="/inventory-mngt/master/category">
                <p-card styleClass="card1" >
                  Category Master
                </p-card>
            </a>
        </div>
        
        <div class="ui-g-3">
            <a routerLink="/inventory-mngt/master/tax">
                <p-card styleClass="card1" >
                    Tax Master
                </p-card>
            </a>
        </div>
        
     
        <div class="ui-g-3">
            <a routerLink="/inventory-mngt/master/customer">
                <p-card styleClass="card1" >
                    Customer Master
                </p-card>
            </a>
        </div>

        <div class="ui-g-3">
            <a routerLink="/inventory-mngt/master/supplier">
                <p-card styleClass="card1" >
                    Supplier Master
                </p-card>
            </a>
        </div>
               

        <div class="ui-g-3">
            <a routerLink="/inventory-mngt/master/stock">
                <p-card styleClass="card1" >
                    Stock Master
                </p-card>
            </a>
        </div>
               

        <div class="ui-g-3">
            <a routerLink="/inventory-mngt/master/user">
                <p-card styleClass="card1" >
                    User Master
                </p-card>
            </a>
        </div>
               

               
     
    </div>
</div>